<nav class="navbar navbar-inverse-landing navbar-fixed-top">
  <div class="container">
    <div class="col-md-2">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-logo" href="#" title="PackAd"><img src="../images/logo.png" border="0"></a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" ng-submit="lc.login()">
        <div class="form-group">
          <div class="input-group"><i class="icon-user"></i>
            <input type="email" placeholder="Email" class="form-control" ng-model="lc.credentials.email" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"><i class="icon-lock"></i>
            <input type="password" placeholder="Password" class="form-control" ng-model="lc.credentials.password" required>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
        <div class="clearfix"></div>
        <div ng-hide="lc.isLoginSuccess" style='color:red'>The email and password you entered don't match</div>
        <div class="form-group float-right text-right">
          <a ui-sref="signup.consumer">Consumers signup</a> |
          <a ui-sref="signup.business">Business sign up</a> |
          <a href="">Forgot your Password?</a>
        </div>
      </form>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
<!-- Carousel
    ================================================== -->
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="../images/curosel_slide1.png" alt="First slide">
        <div class="container">
          <div class="carousel-caption first-caption">
            <h1>Welcome to PackAd</h1>
            <p>The network for the commercial side of you</p>
            <p><a class="btn btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" ng-click="lc.do($event)" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" ng-click="lc.do($event)" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- /.carousel -->
  <div class="how-it-works">
    <div class="col-md-4"><a href="#" data-toggle="modal" data-target="#howitworks"><span>1</span> How it Works</a></div>
    <div class="col-md-4"><a href="#"><span>2</span> See How it benefits users</a></div>
    <div class="col-md-4"><a href="#"><span>3</span> See How it benefits businesses</a></div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="features-list">
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../images/features-1.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>Shop for goods or Services</h2>
            <p>With many categories to choose from, you can find what you are interested in buying. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../images/features-2.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>Sell more with Less hassle</h2>
            <p>No need to spending extra time, effort and money to find buyers... PackAd does the work for you . </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../images/features-3.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>Interact with your dynamic commercial network</h2>
            <p>You meet different people in your different shopping activities. PackAd provides the platform to meet and mingle with them. Maybe make a new friend while shopping, getting deals and discussion the thing that intrest you commercially. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../images/features-4.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>Interact with your dynamic commercial network</h2>
            <p>Intract with your Shoppers.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../images/features-5.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>Lets the Deals come to you</h2>
            <p>With our PackAd program no need to be chasing deals.... it will come to you.. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img class="media-object" src="../images/features-6.png" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>Promote your business.. for Free</h2>
            <p>Never pay for Ads Again!.</p>
            <p><a class="btn btn-default" href="#" role="button">Learn more how PackAd can help you
market your business for Free! &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <div class="float-left"><a href="">About us</a> | <a href="">What is a PackAd?</a> | <a href="">How it Works</a> | <a href="">Careers</a> | <a href="">Privacy Policy</a> | <a href="">Terms</a> | <a href="">Support</a> </div>
    <p class="float-right">Copyright &copy; 2016 PackAd, Inc. All Rights Reserved.</p>
  </footer>
</div>
<!-- /container -->
<!-- Bootstrap Model light box
    ================================================== -->
<!-- Modal -->
<div class="modal fade" id="howitworks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-cog"></i> How it Works</h4>
      </div>
      <div class="modal-body">
        How it Works.... Need content
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
      </div>
    </div>
  </div>
</div>
