<md-toolbar>
  <div class="md-toolbar-tools">
    <span flex="5" class="flex"><span class="c-packad" title="Create PackAd"></span></span>
    <h2 class="md-display-2" flex="90" style="font-size:35px;">PackAd Creation</h2>
    <md-button class="md-icon-button" flex="5" ng-click="cancel()">
      <i class="material-icons">clear</i>
    </md-button>
  </div>
</md-toolbar>
<div id="wizard-container">
  <div class="modal-body">
    <div id="wizard-content-container">
      <form name="adCreationForm">
        <div ng-include="view.source"></div>
      </form>
    </div>
  </div>
  <md-dialog-actions layout="row" id="wizard-navigation-container">
    <h3 class="md-title" ng-disabled="vm.currentView >= vm.creationFlow.length" style="padding-left:10px; display:none;" flex>Got It? Let’s Proceed</h3>
    <span flex></span>
    <div class="pull-right">
      <md-button class="md-raised md-primary" ng-class="btn.type" ng-repeat="btn in view.buttons" ng-click="btn.action()" ng-disabled="btn.disabled(adCreationForm)" ng-bind="btn.label"></md-button>
    </div>
  </md-dialog-actions>
</div>
<div class="add-exit-mask md-scroll-mask" ng-if="exiting" aria-hidden="true">
  <md-backdrop class="md-dialog-backdrop md-opaque ng-scope" aria-hidden="true" style=""></md-backdrop>
  <div ng-if="exiting" style="margin:0px auto; background:#fff; position:relative; z-index:999;width: 50%;
    margin-top: 100px;
    padding: 10px;">
    Do you really want to cancel? The information entered so far will not be saved. You will have to start from beginning next time
    <md-button md-no-ink class="md-primary" ng-click="close()">Yes, I want to be cancled</md-button>
    <md-button md-no-ink class="md-primary" ng-click="stayOnPage()">No, dont't cancel</md-button>
  </div>
</div>
