<div class="row">
  <div class="col-md-6">
    <div class="signup-features-list">
      <div class="page-header">
        <h2>Why Join PackAd? Here are 4 reasons!</h2>
      </div>
      <ul>
        <li><i class="glyphicon glyphicon-comment  fa-4x"></i>
          <div>Grow your commercial network.</div>
        </li>
        <li><i class="glyphicon glyphicon-gift  fa-4x"></i>
          <div>Interact with shoppers.</div>
        </li>
        <li><i class="glyphicon glyphicon-remove-circle fa-4x"></i>
          <div>Never pay for Ads again. It's FREE here!.</div>
        </li>
        <li><i class="glyphicon glyphicon-usd"></i>
          <div>Sell more.</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active' : busCt.selectedTabId === 1 , 'disabled' : busCt.selectedTabId === 2}" ng-click="">
              <a data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" href="#">
               Register here
              </a>
            </li>
            <li role="presentation" ng-class="{'active' : busCt.selectedTabId === 2 , 'disabled' : busCt.selectedTabId === 1}" ng-click="">
              <a data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" href="#">
               Upload your company Logo here
              </a>
            </li>
          </ul>
        </div>
        <form role="form" name="myForm">
          <p class="bg-info">Create your PackAd network page and use our PackAd feature to sell, run free Ads and interact with consumers</p>
          <div class="tab-content">
            <div class="page-header"><strong>Business Sign Up</strong></div>
            <div role="tabpanel" id="step1" ng-class="{'tab-pane active' : busCt.selectedTabId === 1 , 'tab-pane disabled' : busCt.selectedTabId === 2}">
              <div class="step1">
                <div class="row">
                  <div class="col-md-6 required">
                    <label for="cname">Company Name</label>
                    <input type="text" class="form-control" id="cname" name="companyName" ng-minlength="2" ng-maxlength="70" placeholder="Name of your company" ng-model='busCt.user.companyName' required>
                    <div ng-show="myForm.$submitted || myForm.companyName.$touched">
                      <p ng-show="myForm.companyName.$error.required" style='color:red'>Company Name is Required.</p>
                      <p ng-show="myForm.companyName.$error.minlength" style='color:red'>Company Name is Too short.</p>
                      <p ng-show="myForm.companyName.$error.maxlength" style='color:red'>Company Name is too long.</p>
                    </div>
                  </div>
                  <div class="col-md-6 required">
                    <label for="exampleInputEmail1">Business Type</label>
                    <select class="form-control" ng-model='busCt.user.businessType' ng-options="business.Name for business in busCt.businessCategories" name="businesstype" required>
                      <option value="">select business category</option>
                    </select>
                    <div ng-show="myForm.$submitted || myForm.businesstype.$touched">
                      <p ng-show="myForm.businesstype.$error.required" style='color:red'>Business Type is Mandatory.</p>
                    </div>
                  </div>
                </div>
                <div class="page-header"><strong>Address</strong></div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="Street">Street</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="street" ng-model='busCt.user.street'>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="city" ng-model='busCt.user.city'>
                  </div>
                  <div class="col-md-6">
                    <label for="zip">Zip Code</label>
                    <input type="text" class="form-control" id="zip" name="zipcode" placeholder="zip code" ng-model='busCt.user.zipcode' ng-pattern="/^[0-9]{1,5}$/" ng-minlength="5" ng-maxlength="5" maxlength="5">
                    <div ng-show="myForm.$submitted && myForm.zipcode.$invalid" style='color:red'> Zip code is invalid.</div>
                    <span style="color:Red" ng-show="myForm.zipcode.$error.pattern">Invalid Zipcode</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="country">Country</label>
                    <select class="form-control" ng-model="busCt.user.country" ng-options="country.name for country in busCt.countries">
                      <option value="">select country</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="state">State</label>
                    <select class="form-control" ng-model='busCt.user.state' ng-options="state.name for state in busCt.states | filter:{cid:busCt.user.country.id || -1}">
                      <option value="">select state</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website" name="websites" placeholder="website url" ng-model='busCt.user.website'>
                    <div ng-show="myForm.$submitted || myForm.websites.$touched">
                    <div ng-show="myForm.websites.$error.url" style='color:red'>Not a valid url!</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="emails" placeholder="Email Address" ng-model='busCt.user.email' ng-focus="busCt.emailRegistered=false" ng-blur="busCt.checkEmailVerification()" ng-pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/" required="">
                    <div ng-show="myForm.$submitted || myForm.emails.$touched">
                      <p ng-show="myForm.emails.$error.required" style='color:red'>Email is Required.</p>                      
                      <span style="color:Red" ng-show="myForm.emails.$error.pattern">Please enter a valid email</span>
                      <span style="color:Red" ng-show="busCt.emailRegistered">This e-mail is already registered. Please try some other e-mail</span>
                    </div>
                  </div>
                  <div class="col-md-6 required">
                    <label for="remail">Re-enter email</label>
                    <input type="email" class="form-control" id="remail" name="reemail" placeholder="Email Address" ng-model='busCt.user.reemail' ng-pattern="busCt.user.email" required="">
                    <div ng-show="myForm.$submitted || myForm.reemail.$touched">
                      <p ng-show="myForm.reemail.$error.required" style='color:red'>Please reconfirm Email.</p>                      
                      <p ng-show="myForm.reemail.$error.pattern" style='color:red'>Re-enter Email should have the same value with email!</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="ps" placeholder="password" ng-model='busCt.user.password' ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-minlength="6" ng-maxlength="21" required="">
                    <div ng-show="myForm.$submitted || myForm.ps.$touched">
                      <p ng-show="myForm.ps.$error.required" style='color:red'>Please enter Password.</p>
                      <p ng-show="myForm.ps.$error.minlength" style='color:red'>Password requires atleast 6 characters.</p>
                      <p ng-show="myForm.ps.$error.pattern" style='color:red'>Must contain one lower & uppercase letter, and one non-alpha character (a number or a symbol.</span>
                    </div>
                  </div>
                  <div class="col-md-6 required">
                    <label for="remail">Re-enter password</label>
                    <input type="password" class="form-control" id="remail" name="reps" placeholder="Re-enter password" ng-model='busCt.user.repassword' ng-minlength="6" ng-pattern="busCt.user.password" required="">
                    <div ng-show="myForm.$submitted || myForm.reps.$touched">
                      <p ng-show="myForm.reps.$error.required" style='color:red'>Please reconfirm password.</p>
                      <p ng-show="myForm.reps.$error.minlength" style='color:red'>Password requires atleast 6 characters.</p>
                      <p ng-show="myForm.reps.$error.pattern" style='color:red'>Re-enter Passowrd should have the same value with Password!</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <ul class="list-inline text-center ">
                <li>
                  <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary next-step" autocomplete="off" ng-disabled="myForm.$invalid || myForm.$pending || busCt.emailRegistered" ng-click="busCt.nextClick()">SignUp and continue</button>
                  <br/>
                  <br/> By signing up you agree to our terms and conditions</li>
              </ul>
            </div>
            <div role="tabpanel" id="step2" ng-class="{'tab-pane active' : busCt.selectedTabId === 2 , 'tab-pane disabled' : busCt.selectedTabId === 1}">
              <div class="step2">
                <div class="step_21">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="password">Please upload your company image or logo to personalize your profile</label>
                      <div class="form-control profile">
                        <img style="width:200px" ng-show="!!busCt.image" ngf-thumbnail="busCt.image" />
                      </div>
                      <div class="clearfix"></div>
                      <div>
                        <button class="btn btn-primary col-sm-2 " ng-model="busCt.image" ngf-select ngf-multiple="false" name="imageUpload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-change="busCt.uploadProfile($files) ">
                          Select File
                        </button>
                        <i ng-show="busCt.upload_form.file.$error.required">*required</i>
                        <br>
                        <i ng-show="busCt.upload_form.file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                        <span>{{busCt.image.name}}</span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="password">Use this suggested profile image</label>
                      <div class="form-control profile">
                        <img style="width:200px" src="../images/home.png" />
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="step-22">
                </div>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-default prev-step" ng-click="busCt.previousClick()">Previous</button>
                <button type="button" class="btn btn-primary next-step" ng-click="busCt.saveUser()">Finish and go to your Home page</button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </section>
  </div>
