<div class="row">
  <div class="col-md-6">
    <div class="signup-features-list">
      <div class="page-header">
        <h2>Why Join PackAd? Here are 4 reasons!</h2>
      </div>
      <ul>
        <li><i class="glyphicon glyphicon-comment  fa-4x"></i>
          <div>Meet new commercially like people</div>
        </li>
        <li><i class="glyphicon glyphicon-gift  fa-4x"></i>
          <div>Shop</div>
        </li>
        <li><i class="glyphicon glyphicon-flash fa-4x"></i>
          <div>Get low price</div>
        </li>
        <li><i class="glyphicon glyphicon-usd"></i>
          <div>Save more</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <section>
      <div class="wizard">
        <div class="wizard-inner">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active' : ctrl.selectedTabId === 1 , 'disabled' : ctrl.selectedTabId === 2}" ng-click="">
              <a data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" href="#">
               Register here
              </a>
            </li>
            <li role="presentation" ng-class="{'active' : ctrl.selectedTabId === 2 , 'disabled' : ctrl.selectedTabId === 1}" ng-click="">
              <a data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" href="#">
               Upload your photo here
              </a>
            </li>
          </ul>
        </div>
        <form role="form" name="myForm">
          <p class="bg-info">Create your PackAd network page and use our PackAd feature to connect with other consumers and businesses and get great prices &nbsp; &nbsp; <a>Find out how</a></p>
          <div class="tab-content">
            <div class="page-header"><strong>Consumer Sign Up</strong></div>
            <div role="tabpanel" id="step1" ng-class="{'tab-pane active' : ctrl.selectedTabId === 1 , 'tab-pane disabled' : ctrl.selectedTabId === 2}">
              <div class="step1">
                <div class="row">
                  <div class="col-md-6 required">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="firstName" ng-minlength="2" ng-maxlength="70" placeholder="First name" ng-model='ctrl.user.firstName' required>
                    <div ng-show="myForm.$submitted || myForm.firstName.$touched">
                      <p ng-show="myForm.firstName.$error.required" style='color:red'>First Name is Required.</p>
                      <p ng-show="myForm.firstName.$error.minlength" style='color:red'>First Name is Too short.</p>
                      <p ng-show="myForm.firstName.$error.maxlength" style='color:red'>First Name is too long.</p>
                    </div>
                  </div>
                  <div class="col-md-6 required">
                    <label for="fname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lastName" ng-minlength="2" ng-maxlength="70" placeholder="Last name" ng-model='ctrl.user.lastName' required>
                    <div ng-show="myForm.$submitted || myForm.lastName.$touched">
                      <p ng-show="myForm.lastName.$error.required" style='color:red'>Last Name is Required.</p>
                      <p ng-show="myForm.lastName.$error.minlength" style='color:red'>Last Name is Too short.</p>
                      <p ng-show="myForm.lastName.$error.maxlength" style='color:red'>Last Name is too long.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 required-single">
                    <label>Sex&emsp;</label>
                    <label for="male" class="radio-inline">
                      <input type="radio" id="male" name="gender" value="1" ng-model="ctrl.user.gender" required> Male</label>
                    <label for="female" class="radio-inline">
                      <input type="radio" id="female" name="gender" value="2" ng-model="ctrl.user.gender"> Female</label>
                    <!-- <div ng-show="myForm.$submitted"> -->
                    <p ng-show="myForm.gender.$error.required" style='color:red'>Please select Sex.</p>
                    <!-- </div> -->
                  </div>
                  <div class="col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="emails" placeholder="Email Address" ng-model='ctrl.user.email' ng-focus="ctrl.emailRegistered=false" ng-blur="ctrl.checkEmailVerification()" ng-pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/" required="">
                    <div ng-show="myForm.$submitted || myForm.emails.$touched">
                      <p ng-show="myForm.emails.$error.required" style='color:red'>Email is Required.</p>
                      <span style="color:Red" ng-show="myForm.emails.$error.pattern">Please enter a valid email</span>
                      <span style="color:Red" ng-show="ctrl.emailRegistered">This e-mail is already registered. Please try some other e-mail</span>
                    </div>
                  </div>
                  <div class="col-md-6 required">
                    <label for="remail">Re-enter email</label>
                    <input type="email" class="form-control" id="remail" name="reemail" placeholder="Email Address" ng-model='ctrl.user.reemail' ng-pattern="ctrl.user.email" required="">
                    <div ng-show="myForm.$submitted || myForm.reemail.$touched">
                      <p ng-show="myForm.reemail.$error.pattern" style='color:red'>Re-enter Email should have the same value with email!</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="ps" placeholder="password" ng-model='ctrl.user.password' ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-minlength="6" ng-maxlength="21" required="">
                    <div ng-show="myForm.$submitted || myForm.ps.$touched">
                      <p ng-show="myForm.ps.$error.required" style='color:red'>Please enter Password.</p>
                      <p ng-show="myForm.ps.$error.minlength" style='color:red'>Password requires atleast 6 characters.</p>
                      <p ng-show="myForm.ps.$error.pattern" style='color:red'>Must contain one lower & uppercase letter, and one non-alpha character (a number or a symbol.</span>
                    </div>
                  </div>
                  <!-- <div class="col-md-6 required">
                    <label for="remail">Re-enter password</label>
                    <input type="password" class="form-control" id="remail" name="reps" placeholder="Re-enter password" ng-model='ctrl.user.repassword' ng-minlength="6" ng-pattern="ctrl.user.password" required="">
                    <div ng-show="myForm.$submitted || myForm.reps.$touched">
                      <p ng-show="myForm.reps.$error.required" style='color:red'>Please reconfirm password.</p>
                      <p ng-show="myForm.reps.$error.minlength" style='color:red'>Password requires atleast 6 characters.</p>
                      <p ng-show="myForm.reps.$error.pattern" style='color:red'>Re-enter Passowrd should have the same value with Password!</p>
                    </div>
                  </div> -->
                </div>
                <div class="page-header"><strong>Your Locale &nbsp; &nbsp; <a href="#" data-toggle="modal" data-target="#whyDoWeRequireLocale">Why do we need your locale</a></strong></div>
                <div class="row">
                  <div class="col-md-4 required">
                    <label for="country">Country</label>
                    <select class="form-control" ng-model="ctrl.user.country" ng-options="country.name for country in ctrl.countries" name="country" required>
                      <option value="">select country</option>
                    </select>
                    <div ng-show="myForm.$submitted || myForm.country.$touched">
                      <p ng-show="myForm.country.$error.required" style='color:red'>Please select country</p>
                    </div>
                  </div>
                  <div class="col-md-4 required">
                    <label for="state">State</label>
                    <select class="form-control" ng-model='ctrl.user.state' ng-options="state.name for state in ctrl.states | filter:{cid:ctrl.user.country.id || -1}" name="state" required>
                      <option value="">select state</option>
                    </select>
                    <div ng-show="myForm.$submitted || myForm.state.$touched">
                      <p ng-show="myForm.state.$error.required" style='color:red'>Please select state</p>
                    </div>
                  </div>
                  <div class="col-md-4 required">
                    <label for="zip">Zip Code</label>
                    <input type="text" class="form-control" id="zip" name="zipcode" placeholder="zip code" ng-model='ctrl.user.zipcode' ng-pattern="/^[0-9]{1,5}$/" ng-minlength="5" ng-maxlength="5" maxlength="5" required>
                    <div ng-show="myForm.$submitted || myForm.zipcode.$touched">
                      <p ng-show="myForm.zipcode.$error.required" style='color:red'>Please enter zipcode.</p>
                      <p ng-show="myForm.zipcode.$error.minlength" style='color:red'>Zipcode requires atleast 5 characters.</p>
                      <p ng-show="myForm.zipcode.$error.pattern" style='color:red'>Must contain only numbers</p>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div>
                <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary next-step" ng-disabled="myForm.$invalid || myForm.$pending || ctrl.emailRegistered || !myForm.country.$dirty  || !myForm.state.$dirty" autocomplete="off" ng-click="ctrl.nextClick()">SignUp and continue</button> &nbsp;&nbsp;<a ui-sref="signup.business">Businesses sign up here</a>
                <br/>By signing up you agree to our terms and conditions
              </div>
            </div>
            <div role="tabpanel" id="step2" ng-class="{'tab-pane active' : ctrl.selectedTabId === 2 , 'tab-pane disabled' : ctrl.selectedTabId === 1}">
              <div class="step2">
                <div class="step_21">
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <label for="password">Please upload your image or logo to personalize your profile</label>
                      <div class="form-control profile">
                        <img style="width:200px" ng-show="!!ctrl.image" ngf-thumbnail="ctrl.image" />
                      </div>
                      <div class="clearfix"></div>
                      <div class="profile-button">
                        <button class="btn btn-primary btn-block " ng-model="ctrl.image" ngf-select ngf-multiple="false" name="imageUpload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-change="ctrl.uploadProfile($files) ">
                          Select File
                        </button>
                        <span>{{ctrl.image.name}}</span>
                        <br>
                        <i ng-show="ctrl.upload_form.file.$error.required">*required</i>
                        <br>
                        <i ng-show="ctrl.upload_form.file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="password">Use this suggested profile image</label>
                      <div class="form-control profile">
                        <span class="profile-name">{{ctrl.user.initial}}</span>
                        <img style="width:200px" ng-src="{{ctrl.user.gender == 2 ? '../images/FemaleDefault.jpg' : '../images/MaleDefault.jpg' }}" />
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="step-22">
                </div>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-default prev-step" ng-click="ctrl.previousClick()">Previous</button>
                <button type="button" class="btn btn-primary next-step" ng-click="ctrl.saveUser()">Finish and go to your Home page</button>
              </div>
              <div class="clearfix"></div>
            </div>
        </form>
        </div>
    </section>
    </div>
  </div>
  <div class="modal in" id="whyDoWeRequireLocale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Why do we need your locale</h4>
        </div>
        <div class="modal-body">
          We ask for your locale so we can personalize the contents you receive for your geographical region. For example displaying PackAds and posts that were posted by businesses and consumers closer to you.
        </div>
      </div>
    </div>
  </div>
