<!DOCTYPE html>
<html lang="en" ng-app="packAdApp">
<head>
	<title>Pack Ad</title>
	<link href="../images/favicon.ico" rel="icon" type="image/x-icon" />
	{>"./includes/meta" /}
	{>"./includes/css" /}
</head>
<body>
	<div ng-include="'../features/alert/alert-view.html'" ></div>
	<div ui-view></div>

	{>"./includes/js" /}
	<script type="text/javascript">
		angular.module('packAdApp').constant('APISERVER', '/api/');      
    if (!(window.sessionStorage)) {
      alert('This browser is not supported. Kindly use latest browser that supports HTML5, like Google Chrome, Firefox etc');
    }
	</script>
</body>	
</html>