/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 90px;
  padding-bottom: 20px;
  font-family: Roboto,Helvetica Neue,sans-serif;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.mar0 {
  margin: 0px;
}

.mar-bot0 {
  margin-bottom: 0px !important;
}

.disabled-elements {
  pointer-events: none;
  opacity: 0.4;
}

.clearfix {
  clear:left;
}
.border-all {
  border:1px solid #dcdcdc;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.bg-white {
  background-color: #fff;
}
.block-img {
  display:block;
}
.padding10 {
  padding:10px;
}
.light-gray {
  background-color: #ECEFF1;
}
.text-color-white {
  color:#ffffff;
}
.diveder {
  width:100%;
  height:1px;
  background-color: #B0BEC5;
}

/*================================== Top Search bar styles ==================================*/

.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: #fff;
}

.search-dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 100%;
}

.search-dropdown ul.dropdown-menu>li>a {
  color: #428bca;
  padding: 5px 10px;
}

.search-dropdown a,
.search-dropdown ul.dropdown-menu a {
  font-size: 13px;
}

.search-bar .input-group {
  display: block;
}

.search-dropdown a,
.search-bar input {
  padding: 10px !important;
  color: #000000;
  line-height: normal!important;
}

.search-dropdown a span,
.search-bar a i {
  font-size: 1.2em;
  color: #abafa9;
}

.search-bar a i {
  font-size: 2.3em;
}

.search-dropdown ul.dropdown-menu {
  border-radius: 0px;
  box-shadow: none;
  margin-top: 20px;
  width: 100%;
}

.search-dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}

.search-dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

.search-cat .bootstrap-select button {
  padding: 10px !important;
  color: #000000;
  line-height: normal!important;
}

.search-cat .bootstrap-select button i {
  padding-right: 15px;
  margin-top: -2px;
}

.logout-settings a {
  padding: 0px 8px;
  color: #fff;
  cursor: pointer;
}

.profile-img {
  position: relative;
}

.profile-img span {
  position: absolute;
  font-size: 9px;
  font-weight: bold;
  background: transparent;
  bottom: -14px;
  width: 30px;
  color: #333;
  -webkit-box-shadow: 0px 0px 14px -1px rgba(46, 46, 46, 0.6);
  -moz-box-shadow: 0px 0px 14px -1px rgba(46, 46, 46, 0.6);
  box-shadow: 0px 0px 14px -1px rgba(46, 46, 46, 0.6);
}

.trending {
  padding-top: 24px;
  margin-bottom: 25px;
}

.trending h3,
.trending h4 {
  margin: 0px;
}

.trending h4 {
  color: #d99649;
}

.trending span {
  color: #a3abaf;
  font-size: 14px;
  padding: 0px 20px;
  line-height: 40px;
}


/*================================== END Top Search bar styles ==================================*/


/*================================== Header bg category styles ==================================*/

.navbar-inverse-home {
  background: #92d050;
}
md-toolbar:not(.md-menu-toolbar) {
  background: #00b0f0;
}

.navbar-header,
.navbar-header a {
  background: #fff;
  height: 84px;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 82px;
}


/*================================== END Header bg category styles ==================================*/


/*================================== padding page styles ==================================*/

.pad-right55 {
  padding-right: 55px;
}


/*================================== END padding page styles ==================================*/


/*================================== Signup page styles ==================================*/

.signup-features-list {
  background: rgb(236, 240, 241);
  border: 1px solid rgb(189, 195, 199);
  margin-top: 40px;
  padding: 30px;
}

.signup-features-list .page-header {
  margin-top: 0px;
  border-bottom: 1px solid rgb(189, 195, 199);
}

.signup-features-list .page-header h2 {
  margin-top: 0px;
  font-size: 1.8em;
}

.signup-features-list ul {
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
}

.signup-features-list ul li {
  padding: 20px 5px;
  font-size: 1.2em;
}

.signup-features-list ul li i {
  color: #ef4c14;
  font-size: 40px;
  margin-right: 30px;
  float: left;
  text-shadow: 4px 3px 0 #EEEEEE, 8px 4px 0 rgba(0, 0, 0, 0.15);
}

.signup-features-list ul li div {
  display: inline-block;
  height: 50px;
  width: 80%;
  vertical-align: middle;
}

.profile {
  height: auto;
  min-width: 200px;
  min-height: 150px;
  width: 215px;
  position: relative;
}

.profile-name {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 40px;
  height: 40px;
  color: #333;
  background: #fff;
  z-index: 10;
  margin-left: -20px;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.19);
}

.profile textarea {
  position: absolute;
  bottom: 10px;
  left: 33px;
  width: 148px;
  height: 80px;
}

.profile-button {
  width: 215px;
  position: relative;
  text-align: center;
}

.profile img {
  width: 100%;
  margin: 0px auto;
  display: block;
}

.wizard {
  margin: 20px auto;
  background: #fff;
  /*padding-left:50px;*/
}

.wizard .bg-info {
  background-color: #428bca;
  color: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom: 3px solid #428bca;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  /*height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 30%;
  margin-left: 45px;
    /*margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;*/
}

.wizard .nav-tabs > li.active > a {
  background: #428bca;
  text-decoration: none;
}

.wizard .nav-tabs > li.disabled > a:hover {
  background: rgb(236, 240, 241);
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  /*width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;*/
}

.wizard .nav-tabs small {
  font-size: 0.85em;
  position: absolute;
  bottom: -39px;
  width: 188px;
  border-top: 3px solid #ddd;
  text-align: center;
}

.wizard li.active small {
  border-top: 3px solid #5bc0de;
}

span.round-tab i {
  /*color:#555555;*/
}

.wizard li.active span.round-tab {
  /*background: #fff;
    border: 2px solid #5bc0de;*/
}

.wizard li.active span.round-tab i {
  /*color: #5bc0de;*/
}

span.round-tab:hover {
  /*    color: #333;
    border: 2px solid #333;*/
}

.wizard .nav-tabs > li {
  /*width: 20%;*/
  height: 44px;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 27%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  /*border: 5px solid transparent;
    border-bottom-color: #5bc0de;*/
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 27%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  /*border: 5px solid transparent;
    border-bottom-color: #5bc0de;*/
}

.wizard .nav-tabs > li a {
  width: auto;
  padding: 10px 15px;
  border-radius: 0px;
  font-size: 1.2em;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 1px;
}

.wizard h3 {
  margin-top: 0;
}

.wizard .page-header {
  margin-top: 0px;
  background: rgb(236, 240, 241);
  padding: 5px 10px;
}

.step1 .row {
  margin-bottom: 10px;
}

.step_21 {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

.step33 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.dropselectsec {
  width: 68%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}

.dropselectsec1 {
  width: 74%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}

.mar_ned {
  margin-bottom: 10px;
}

.wdth {
  width: 25%;
}

.birthdrop {
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  width: 16%;
  outline: 0;
  font-weight: normal;
}


/* according menu */

#accordion-container {
  font-size: 13px
}

.accordion-header {
  font-size: 13px;
  background: #ebebeb;
  margin: 5px 0 0;
  padding: 7px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.unselect_img {
  width: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active-header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #F53B27;
}

.active-header:after {
  content: "\f068";
  font-family: 'FontAwesome';
  float: right;
  margin: 5px;
  font-weight: 400
}

.inactive-header {
  background: #333;
}

.inactive-header:after {
  content: "\f067";
  font-family: 'FontAwesome';
  float: right;
  margin: 4px 5px;
  font-weight: 400
}

.accordion-content {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px
}

.accordion-content a {
  text-decoration: none;
  color: #333;
}

.accordion-content td {
  border-bottom: 1px solid #dcdcdc;
}

@media( max-width: 585px) {
  .wizard {
    height: auto !important;
  }
  span.round-tab {
    /*font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;*/
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}


/*================================ END Signup page styles ================================*/


/*================================ Button page styles ================================*/

.btn,
.btn-lg,
.btn-sm,
.btn-xs {
  padding: 3px 8px;
  border-radius: 3px;
}


/*================================ Button page styles ================================*/


/*================================ how-it-works page styles ================================*/

.how-it-works {
  padding: 5px 0px;
  color: #da9549;
  border-bottom: 1px solid #c1c6ca;
  font-size: 2em;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 40px;
}

.how-it-works a {
  color: #da9549;
  text-decoration: none;
  padding: 0px;
}

.how-it-works a span {
  border: 1px solid #c1c6ca;
  border-radius: 100%;
  display: inline-block;
  height: 30px;
  width: 30px;
}


/*================================ END how-it-works page styles ================================*/

.features-list .media {
  margin-bottom: 50px;
}

.features-list h2 {
  color: #da9549;
  font-size: 1.6em;
  margin-top: 5px;
}

.multi-heading {
  font-weight: bold;
  color: #da9549;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.multi-heading small {
  display: block;
}

.prod-title {
  color: #8fc575;
  font-size: 14px;
  border-bottom: 1px solid #e6e8ea;
  border-bottom: 6;
  margin: 0px;
  padding: 8px 5px;
}

.prod-title i {
  color: #333;
}

.product-action {
 margin-top: 4px;
}

.product-action i {
  font-size: 21px;
  color: #333;
}


/*================================ home page feeds styles ================================*/

.all-feeds .grp-logo {
  width: 7%;
  height: 39px;
  float: left;
}

.all-feeds .grp-activelist {
  width: 93%;
  float: left;
}

.all-feeds .grp-activelist h5 {
  margin: 0px;
  padding: 5px;
}

.all-feeds .grp-activelist ul {
  list-style: none;
  margin: 0px;
  padding: 5px;
  background: #e6e8ea;
  border: 1px solid #d6d8da;
  float: left;
  width: 100%;
}

.all-feeds .grp-activelist ul li {
  float: left;
  width: 100%;
}

.all-feeds .grp-activelist ul li .free-Billboard {
  background: #da9549;
  border-right: 1px dashed #333;
  width: 30%;
  min-height: 80px;
  float: left;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.free-Billboard {
  background-color:#ea700d;
  color:#fff;
  line-height: 44px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.all-feeds .grp-activelist ul li .Discount-Billboard {
  background: #8fc575;
  border-right: 1px dashed #333;
  width: 30%;
  float: left;
  min-height: 80px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.Discount-Billboard {
  background-color:#92d050;
  color:#fff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.rate-deal {
  background-color:#00b0f0;
  color:#fff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.light-gray-bg {
  background-color: rgb(238,238,238);
}
.all-feeds .grp-activelist ul li .ad {
  width: 70%;
  float: left;
}

.show-commnets {
  background: #fff;
  padding: 3px 10px;
  text-align: center;
}

.rating-section {
  background: #eaeef7;
}

.disBg {
  background-color: #eee;
  cursor: not-allowed;
}

.cat-list {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

.cat-list h4 {
  margin: 0px;
  cursor: default;
}

.cat-list h4:hover {
  text-decoration: none;
}

.cat-list .cat-li {
  padding-left: 10px;
}

.cat-list li .btn-link {
  text-decoration: underline;
}

.btn-link-orange {
  color: #da9549;
  text-decoration: none;
}

.btn-link-orange:hover,
.btn-link-orange:active {
  text-decoration: none;
  color: #da9549;
}

.inline-block {
  display: inline-block;
}

#conformation {
  z-index: 1080 !important;
}

a[ng-click] {
  cursor: pointer;
}

.thumbnail .input-group label {
  border: 1px solid #2185cc;
  border-left: 0px;
  position: relative;
  z-index: 2;
  float: left;
  width: 100% !important;
  margin-bottom: 0;
  display: table-cell;
  padding: 2px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 400;
  padding-left: 10px;
  height: 26px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 135px !important;
}


/*================================ END home page feeds styles ================================*/

#wizard-step-container .nav {
  text-align: center;
}

#wizard-step-container .nav li {
  width: auto;
  display: inline-block;
}

#wizard-step-container .nav li a {
  border-radius: 100%;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

#wizard-step-container .nav li.active a {
  border-radius: 100%;
  background-color: #428bca;
}

.primary-text-color {
  color: #263238;
}

.secondary-text-color {
  color: #78909c;
}

.warning-text {
  color: red;
}

.shipping {
  width: 495px;
  margin: 10px;
  background-color: #ECEFF1;
  /*border: 1px solid rgb(189, 195, 199);*/
}

.shipping .page-header {
  margin-top: 0px;
  background: rgb(236, 240, 241);
  padding: 5px 10px;
}


/*PackAd Icons*/
.c-packad {
  background-image: url('../images/c-process.png');
  width:35px;
  height: 35px;
  margin-top: 5px;
  display: inline-block;
}

.upload-img {
  height:200px;
  width: 100%;
  text-align: center;
}
.upload-img img {
  display: block;
  margin-top: 20%;
}
.start-page h5, .start-page h3 {
  line-height: 44px;
}


/*================================ custom width styles ================================*/

.width100 {
  width:100px;
}
.cnsmr-block{
  border:3px solid #2185cc;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
}
.blue-bg{
  background:#2185cc;
  padding: 4px;
  color: #fff;
  margin-top: 10px;
}
.cnsmr-block .input-group-addon{
  border:1px solid #2185cc;
}
.cnsmr-block .input-group{
  margin-top: 5px;
}
.catgry-anchor{
  cursor: pointer !important;
  text-decoration: underline;
}
.no-pad{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;

}
