<div class="thumbnail" ng-class="{'disabled-elements': !{{groupboxDetails.isActive}}}">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Group</span>
    <label class="ellipsis" title="{{groupboxDetails.groupBoxSubCategory}}">{{groupboxDetails.groupBoxSubCategory}}</label>
  </div>
  <div class="caption">
    <p></p>
    <div class="row">
      <div class="col-md-12 text-center box-min-height">
        <div class="text-center">
          <img ng-show="groupboxDetails.groupBoxText === 'Disconnect'" ng-src="{{groupboxDetails.categoryImageUrl}}" alt="{{groupboxDetails.groupBoxCategory}}" data-toggle="tooltip" data-placement="right" title="{{groupboxDetails.groupBoxCategory}} - {{groupboxDetails.groupBoxSubCategory}}">
        </div>
        <a href="#" class="btn btn-success btn-product" data-toggle="modal" data-box-number="{{groupboxDetails.boxNumber}}" data-target="#businessCategoryModal" ng-show="groupboxDetails.groupBoxText === 'Connect'"><i class="icon-globe"></i> {{groupboxDetails.groupBoxText}}</a>
        <a href="#" class="btn btn-danger btn-product" data-toggle="modal" ng-show="groupboxDetails.groupBoxText === 'Disconnect'" ng-click="Disconnect()"><i class="icon-globe"></i> {{groupboxDetails.groupBoxText}}</a>
      </div>
    </div>
  </div>
  <div class="product-action">
    <a href="javascript:void()" class="col-md-4 text-center">
      <i class="icon-stackexchange"></i>
      <br><small>5</small> New
    </a>
    <a href="javascript:void()" ng-click="createAd()" class="col-md-4 text-center">
      <span class="c-packad" title="Create PackAd"></span>
      <small></small>
    </a>
    <a href="javascript:void()" class="col-md-4 text-center">
      <i class="icon-newspaper"></i>
      <br><small>1506</small>
    </a>
    <div class="clearfix"></div>
  </div>
</div>
