<h4 class="md-headline docs-output text-primary"> How do you want to create your Ad?</h4>

<div class="row">
  <span class="checkbox-inline"> 
    <label> <input type="radio" ng-required="ad" ng-model="ad.compositionType" name="product" value="own"> I want to compose my own Ad</label>
  </span>

  <span class="checkbox-inline"> 
    <label> <input type="radio" ng-required="ad" ng-model="ad.compositionType" name="service" value="existing">  I want to upload my pre-made Ad</label>
  </span>
</div>
<div class="diveder"></div>

<div ng-if="ad.compositionType === 'own'" class="form-group text-center">

  <div class="form-group text-left">
    <h4 class="md-body-2 text-muted">Is what you are listing to sell a product or service?</h4>
    <h4 class="md-caption text-muted">You have unlimited words, but only what fits in the text box grid below will be shown. Additional will be seen when “showmore” is clicked</h4>


    <div class="row required">
      <div class="col-md-6 text-left"><label>Denotes required field</label></div>
      <div class="col-md-6 text-right" ng-click="previewAd();">Preview Ad as it will appear on the PackAd</div>
    </div>
    <div class="clearfix"></div>

    <div class="text-left light-gray padding10 form-group">
      <div class="form-group">
        <input type="text" ng-required="ad.compositionType" ng-model="ad.mainText.title" class="form-control input-lg" placeholder="Subject....this is optional and must fit grid">
      </div>
     
      <textarea class="form-control" ng-required="ad.compositionType" ng-model="ad.mainText.body" placeholder="Body... nowords limit but only what is show non grid is displayed on PackAd and rest can be seen via “more”link" rows="3"></textarea>
    </div>
  </div>
</div>

<div ng-if="ad.compositionType === 'existing'" class="form-group text-left">
  <h4 class="md-title docs-output text-primary">Upload Your Ad Image</h4>

    <div class="row">
      <div class="col-md-6 text-left form-group">Image will be automatically resized to fit grid</div>
      <div class="col-md-6 text-right" ng-click="previewAd();">Preview Ad as it will appear on the PackAd</div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-3">
        <div class="text-left light-gray padding10">
          
          <div class="text-left">
            <div class="form-control upload-img">
              <img style="width:150px" ng-show="!!ad.compositionImage" ngf-thumbnail="ad.compositionImage" />
            </div>

        <button class="btn btn-primary btn-block col-sm-2 " ng-model="ad.compositionImage" ngf-select ngf-multiple="false" name="imageUpload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-change="upload($files) ">
          Select File
        </button>

        </div>
        <div class="clearfix"></div>
        </div>
      </div>
    </div>

</div>
