<div class="form-group text-center">

    <h4 class="md-headline docs-output text-primary">Your PackAd has been <strong>successfully</strong> connected to the commercial group “Television” and now view able by consumers in that group.</h4>

  <br>
  <h5 class="md-title docs-output text-muted">To make changes to the PackAd such as boosting discount, please use <a href="javascript:void()">PackAd Manager</a>.</h5>

  <div class="text-center">
   <md-button class="md-fab md-primary md-hue-2" ng-click="close()" ic_home_24pxaria-label="Eat cake">
        <md-icon md-svg-src="../images/ic_home_24px.svg"></md-icon>
    </md-button>

  </div>
</div>
