<div class="form-group text-center">
  <h3 class="md-headline docs-output text-primary">Your PackAd as it looks now</h3>
 
  <div class="light-gray-bg">
    <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
      <div layout="row" flex="100" layout-padding="5" layout-align="center stretch">
        <div flex="30" class="free-Billboard" layout="row" layout-align="center stretch">
          <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Free Ad Billboard</h3> 
        </div>
        <div flex="70" class="bg-white" layout="column" layout-align="center stretch">
          <div class="ad" ng-switch="ad.compositionType">
          <div class="alert alert-warning" role="alert" layout-margin="10" ng-switch-when="own">
            {{ad.mainText.title}}
            <br> {{ad.mainText.body}}
          </div>
          <div ng-switch-when="existing">
            <img style="width:200px" ngf-thumbnail="ad.compositionImage" />
          </div>
          <div class="alert alert-warning" role="alert" layout-margin="10" ng-switch-default> Free Ad section not done yet</div>
        </div>
        </div>
      </div>
    </div>
    <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
      <div layout="row" flex="100" layout-padding="5">
        <div flex="30" class="Discount-Billboard" layout="row" layout-align="center stretch">
          <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Store front</h3> 
        </div>
        <div layout="row" flex="70" class="bg-white" layout-align="space-around start">
          <div flex="20" class="text-center">
              <a href="#" class="block-img text-center"> <img alt="64x64" class="media-object" data-src="holder.js/64x64" ngf-thumbnail="ad.primaryImg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
              <a href="#">More Images</a>
              <h4 class="media-heading">{{ad.serviceDetails.title}}</h4>
              <a href="#" class="form-group">More Info...</a>
            </div>

            <div flex="80" class="text-center">
                <div class="col-md-12" flex="100" layout="row" layout-align="center stretch">
                <div class="alert alert-info col-md-6" role="alert">
                  Price section not done yet
                </div>
                <div class="alert alert-info col-md-6" role="alert">
                  Discount section not done yet
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
      <div layout="row" flex="100" layout-padding="5">
        <div flex="30" class="rate-deal" layout="row" layout-align="center stretch">
          <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Rate My Deal</h3> 
        </div>
        <div flex="70" class="bg-white text-center">
          <img src="../images/rate.png" class="img-responsive">
          <p class="md-caption text-center">If “don’t likeit” reaches 30% the PackAd owner losses rights to use Free Ad billboard</p>
        </div>
      </div>
    </div>
  </div>


</div>
