<div class="form-group text-center">
  <h4 class="md-headline docs-output text-primary">Change commercial group</h4>
 
  <h5 class="md-subhead text-muted">These are the commercial groups you are currently connected to. Please select which group to change to</h5>
  
  <select class="selectpicker" title="Select Category" style="display: inline-block !important;">
    <option class="bs-title-option" value="">Select Category</option>
    <optgroup label="{{ad.groupBoxCategory}}">
      <option data-icon="icon-desktop pull-right" value="{{ad.groupBoxSubCategory}}">{{ad.groupBoxSubCategory}}</option>
    </optgroup>
  </select>
</div>
