<div class="form-group text-left">
  <h4 class="md-headline docs-output text-primary">Please confirm the commercial group the PackAd will be connected to</h4>

  <h5 class="md-subhead text-muted">This is the group from the activity box you launched the PackAd creation process from</h5>
  <div class="diveder"></div>

  <h6 class="md-caption text-muted text-center">Only this group will see this PackAd</h6>
  <div class="text-center"><md-button class="md-primary md-hue-1">
  <md-icon class="material-icons">local_dining</md-icon>
  {{ad.groupBoxCategory}} - {{ad.groupBoxSubCategory}}</md-button></div>
  
  <h5 class="md-subhead text-muted">To change the group please <a href="javascript:void()" ng-click="goToView('changeGroup');">click here
  </a>... note changing group will disconnect you from the current group.</h5>
</div>
