<div class="form-group text-center">
  <h4 class="md-headline docs-output text-primary" for="firstName">Awseome! Done with the money saving section</h4>

  <h5 class="md-title docs-output text-muted">It’s time now for the part of a PackAd that consumers like</h5>
  <br>
  <br>

  <h1 class="md-display-2 docs-output text-primary">Deal Time!</h1>

  <div class="text-center">
    <img src="../images/deal.png" />
  </div>

</div>
