<div class="form-group text-center">
  <h4 class="md-headline docs-output text-primary" for="firstName">How much discount do you want to give customers on the item you are selling?</h4>

  <h4 class="md-body-1 docs-output text-muted">We try to make every one happy. FreeAd for you and some discount for the shoppers..it’s the PackAd way</h4>
  <div class="diveder"></div>

<div class="col-md-12 form-group text-right required">
    <label>Denotes mandatory field</label>
</div>
<div class="clearfix"></div>

<div class="light-gray padding10">
  <h5 class="md-subhead text-muted">Remember consumers gets to vote like or not on your discount. More likes means more freeAd exposure</h5>
 
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 required">
        <label>Regular price of item</label>
        <input type="text" pa-input-field ng-model="ad.price" ng-model-options="{ updateOn: 'blur' }" ng-change="calculateCost()" regx-pattern="^[0-9]" ng-required="ad" name="" class="form-control">
      </div>
      <div class="col-md-4 required">
        <label>Discount you are giving</label>
        <input type="text" ng-model="ad.discount" ng-model-options="{ updateOn: 'blur' }" ng-change="calculateCost()" ng-required="ad" pa-input-field regx-pattern="^[0-9]" ng-maxlength="2" maxlength="2" size="2" name="" class="form-control"> %
      </div>
      <div class="col-md-4 required">
        <label>Discount Expires</label>
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="ad.expiresOn" is-open="ad.datePickeropened" datepicker-options="adDatesOptions" ng-required="ad" close-text="Close" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openAdDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="secondary-text-color">The FreeAd for a Discount Price</h4>
        <label>This is calculated automatically based on your regular price and discount offered</label>
        <h1><span class="label label-default" >{{ad.effectivePrice | currency}}</span> </h1>
      </div>
    </div>
 </div>
</div>
