<div class="form-group text-center">
  <h3 class="text-success md-display-2">Congratulations!</h3>

  <h5 class="text-primary md-title">You have created the most powerful sales and marketing cost cutting tool on the web</h5>

  <h5 class="text-muted md-body-1">Please review information on your PackAd for accuracy then post to commercial group</h5>
  
  <div layout="row" layout-xs="column">
    <div flex="100">
      <h5 class="text-center md-caption">To make changes, use the “edit” link in each area</h5>
    </div>
    
  </div>
  <div class="light-gray-bg">
    <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
      <div layout="row" flex="100" layout-padding="5" layout-align="center stretch">
        <div flex="30" class="free-Billboard" layout="row" layout-align="center stretch">
          <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Free Ad Billboard</h3> 
        </div>
        <div flex="70" class="bg-white" layout="column" layout-align="center stretch">
          <div class="ad" layout="column" layout-align="center stretch" ng-switch="ad.compositionType">
            <div><a href="javascript:void(0)" ng-click="goToView('composeAd', null, true)">Edit</a>
              <br>
            </div>
            <div class="alert alert-warning" role="alert" layout-margin="10" ng-switch-when="own">
              {{ad.mainText.title}}
              <br> {{ad.mainText.body}}
            </div>
            <div ng-switch-when="existing">
              <img style="width:200px" ngf-thumbnail="ad.compositionImage" />
            </div>
            <div class="alert alert-warning" role="alert" layout-margin="10" ng-switch-default> Amazon Fire TV is a tiny box you connect to your HDTV.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
      <div layout="row" flex="100" layout-padding="5">
        <div flex="30" class="Discount-Billboard" layout="row" layout-align="center stretch">
          <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Store front</h3> 
        </div>
        <div layout="row" flex="70" class="bg-white" layout-align="space-around start">
          <div flex="20" class="text-center">
            <a href="#" class="block-img text-center">
              <img alt="64x64" data-src="holder.js/64x64" ngf-thumbnail="ad.primaryImg" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
            <a href="javascript:void(0)" ng-click="goToView('supportUpload', null, true)">More Images</a>
            <a href="javascript:void(0)" ng-click="goToView('supportUpload', null, true)">Edit</a>
            <p class="md-caption">Deal Expires: {{ad.expiresOn | date:'MM/dd/yyyy'}}</p>
            <a href="javascript:void(0)" ng-click="goToView('refundPolicy', null, true)">See return&refund policie</a>
          </div>
          <div flex="60" class="text-left" style="margin:0px 8px;">
            <a href="javascript:void(0)" ng-click="goToView(ad.service + 'Details', null, true)">Edit</a>
            <br>
            <h4 class="md-title">{{ad.serviceDetails.title}}</h4>
            <a class="form-group">More Info...</a>
            <div flex-offset="30" class="text-right">
              <strong>Normal Price: {{ad.price | currency}}</strong>
              <p class="text-muted md-caption">Free Ad for a Discount Price</p>
              <h1 class="text-success">{{ad.effectivePrice | currency}}</h1>
              <a href="javascript:void(0)" ng-click="goToView('discount', null, true)">Edit</a>
            </div>
          </div>
          <div flex="20" class="text-center">
            <!-- <a href="javascript:void(0)" ng-click="goToView('discount', null, true)">Edit</a> -->
            <h4 class="md-title">{{ad.discount}}% Off</h4>
            <md-button class="md md-warn md-button md-ink-ripple"><i class="material-icons">add_shopping_cart</i></md-button>

            <h4>Shipping And Handling</h4>
            <a href="javascript:void(0)" ng-click="goToView('shipment', null, true)">Edit</a> 
          </div>
        </div>
      </div>
    </div>
    <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
      <div layout="row" flex="100" layout-padding="5">
        <div flex="30" class="rate-deal" layout="row" layout-align="center stretch">
          <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Rate My Deal</h3> 
        </div>
        <div flex="70" class="bg-white text-center">
          <img src="../images/rate.png" class="img-responsive">
          <p class="md-caption text-center">If “don’t likeit” reaches 30% the PackAd owner losses rights to use Free Ad billboard</p>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="text-center">
  This PackAd will be displayed to consumers : 
  <strong ng-switch = "ad.visibleAt">
    <span ng-switch-when="all"> every where</span>
    <span ng-switch-when="specificState"> Country: {{ad.visibleState.country.name}} State: {{ad.visibleState.state.name}}</span>
    <span ng-switch-when="specificArea"> in Zip code {{ad.visibeZip}}</span>
  </strong>
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="javascript:void(0)" ng-click="goToView('adVisibility', null, true)">Edit</a> 

</p>