<div class="form-group text-center">
<h4 class="md-headline docs-output text-primary">What is your return and refund policy for this item</h4>

<div class="text-left light-gray padding10 form-group">
    <h3 class="panel-title">Return Policy</h3> <small class="pull-right"><a href="#" uib-tooltip="You do not have a preset return policy.To create it later go to your Settings Page." class="ng-binding">click here to use your preset return policy</a></small>

    <textarea class="form-control" ng-required="ad" ng-model="ad.returnPolicy" placeholder="Type your return policy.."></textarea>
</div>

<div class="text-left light-gray padding10 form-group">
    <h3 class="panel-title">Refund Policy</h3> <small class="pull-right"><a href="#" uib-tooltip="You do not have a preset refund policy.To create it later go to your Settings Page.">click here to use your preset refund policy</a></small>
 
    <textarea class="form-control" ng-required="ad" ng-model="ad.refundPolicy" placeholder="Type your refund policy.."></textarea>
</div>
