<div class="form-group text-center">
  <h4 class="md-headline docs-output text-primary">Is what you are listing to sell a product or service?</h4>

  <h5 class="md-title text-muted">Please select one</h5>
  
      <span class="checkbox-inline"> 
        <label> <input type="radio" ng-model="ad.service" name="product" value="product"> Product</label>
      </span>
  	  <span class="checkbox-inline"> 
        <label> <input type="radio" ng-model="ad.service" name="service" value="service">  Service</label>
      </span>

    <!-- <p class="md-title text-muted">Selected listing: <span class="radioValue text-success">{{ data.group1 }}</span> </p>
    <md-radio-group ng-model="data.group1">
	    <md-radio-button ng-model="ad.service" name="product" value="product" class="md-primary">Product</md-radio-button>
	    <md-radio-button ng-model="ad.service" name="service" value="service"> Service </md-radio-button>
    </md-radio-group> -->

</div>
