<div class="form-group text-center">
  <h4 class="md-headline docs-output text-primary">Congrats, finished the portion of a PackAd that helps you sell for FREE!</h4>

  <h5 class="md-subhead docs-output text-muted">Now let’s try to save you some money by adding your FREE Ad space</h5>

  <div class="text-center">
    <img src="../images/free-ad.png" />
  </div>

  <h5 class="md-subhead docs-output text-muted">You can <a href="javascript:void()" ng-click="previewAd();">click here</a> to preview what your PackAd looks like now</h5>

</div>
