<!-- <fieldset> -->
 <div class="col-md-12 form-group text-right required">
    <label>Denotes mandatory field</label>
  </div>
<div class="clearfix"></div>

<div class="form-group text-center">
  <div class="light-gray padding10">
    <h4 class="md-headline docs-output text-primary required"><label> </label> Add a title to this item</h4>

     <h5 class="md-subhead text-muted">This title will appear on the PackAd and also helpful for consumers to find your PackAd during a search</h5>

    <h5 class="md-caption text-muted">Only what fits this box will be displayed on PackAd with rest viewable by clicking more</h5>

    <div class="col-md-3"></div>
    <div class="col-md-6">
      <input type="text" class="form-control input-lg" ng-required="ad.service" ng-model="ad.serviceDetails.title" placeholder="Ex. Sony Aquos 50 LCDTV">
    </div>
    <div class="clearfix"></div>

  </div>
</div>
<br>

<div class="form-group text-center">
  <div class="light-gray padding10">
    <h4 class="md-headline docs-output text-primary required"><label> </label> Describe this item</h4>
    <h5 class="md-subhead text-muted">This is what buyers will see when they check this productor service description</h5>

    <textarea class="form-control" ng-required="ad.service" ng-model="ad.serviceDetails.description" placeholder="Enter description..." rows="3"></textarea>

  </div>
</div>
<br>

<div class="form-group text-center light-gray padding10">
  <h4 class="md-headline docs-output text-primary">Enter the size, color or quantity as it relates to this item</h4>
  <h5 class="md-subhead text-muted">The fields shown depends on the category you chose for the item</h5>

  <div class="row">
    <div class="form-group">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
          <thead>
            <tr>
              <th st-sort="sizeH" class="required">
                <label>Size</label>
              </th>
              <th st-sort="qtyH" class="required">
                <label>Qty</label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="detail in ad.serviceDetails.itemDetails track by $index">
              <td ng-bind="detail.size"></td>
              <td ng-bind="detail.quantity"></td>
              <td>
                <button type="button" ng-click="removeDetail($index)" class="btn btn-sm btn-danger">
                  <i class="glyphicon glyphicon-remove"></i>
                </i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" ng-model="newDetail.size" id="size" name="size" placeholder="Size">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="newDetail.quantity" id="quantity" name="quantity" pa-input-field regx-pattern="^[0-9]" placeholder="Qty" min="1"> </td>

                 <td>
                   
                   <div class="text-right">
                      <md-button class="md-raised md-warn" aria-label="Add" ng-click="addDetail(newDetail); newDetail = {}" ng-disabled="!newDetailValid(newDetail)">
                          <i class="glyphicon glyphicon-plus"> </i> Add
                      </md-button>
                    </div>

                </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
<!-- </fieldset> -->
