<div class="form-group text-left">
  <h4 class="md-headline docs-output text-primary"> After payment how should buyer retrieve this item</h4>
  
  <div class="row">
  <div class="col-md-9"><h5 class="md-caption text-muted">Indicate here whether item will be shipped to buyer or buyer needs to pickup at a store location</h5> </div>

  <div class="col-md-3 text-right required">
    <label>Denotes mandatory field</label>
  </div>
  </div>
  <div class="diveder"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <h5 class="md-subhead text-muted">Please select one</h5>

        <div ng-app="packAdApp">
          <span class="radio-inline">
            <label>
              <input type="radio" ng-required="ad" ng-model="ad.isShippingAvailable" name="shipping" value="yes"> Shipping</label>
          </span>
          <span class="radio-inline"> 
              <label> <input type="radio" ng-required="ad" ng-model="ad.isShippingAvailable" name="store" value="no">  Store Pickup </label>
           </span>
          <div ng-if="ad.isShippingAvailable === 'yes'" class="shipping">
            <div class="col-md-12">
              <div class="row">
                <h5 class="page-header form-group">is shipping free?</h5>
                <div ng-app="packAdApp">
                  <div class="col-md-12 form-group">
                    <span class="radio-inline"><label for="Yes">
                        <input type="radio" name="shopingfree" ng-required="ad.isShippingAvailable" ng-model="ad.shippingDetails.isFree" value="yes"> Yes</label></span>
                    <span class="radio-inline"><label for="shippingno">
                        <input type="radio" name="shopingfree" ng-required="ad.isShippingAvailable" ng-model="ad.shippingDetails.isFree" value="no"> No</label></span>
                  </div>
                  <div ng-if="ad.shippingDetails.isFree === 'no'">
                    <div class="col-md-12"><label>Calculate Shipping</label></div>
                    <div class="form-group">
                      <div class="col-md-6">
                        <label for="rate">Set my rate</label>
                        <input type="number" class="form-control" id="rate" name="rate" ng-required="ad.isShippingAvailable" ng-model="ad.shippingDetails.cost" placeholder="$">
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="rate">Item weight</label>
                        <input type="number" class="form-control" id="weight" ng-required="ad.isShippingAvailable" ng-model="ad.shippingDetails.weight" name="weight" placeholder="LBS">
                        <label>LBS</label>
                      </div>
                      <div class="col-md-12 text-left">
                        <span class="checkbox-inline"><label for="calculato"><input type="checkbox" > Use UPS Shipping calculator</label></span>
                        <span class="checkbox-inline"><label for="calculato"><input type="checkbox" > Use UPS Shipping calculator</label></span>
                        <span class="checkbox-inline no-margin"><label for="calculato"><input type="checkbox" > Use UPS Shipping calculator</label></span>
                      </div> 
                      <div class="clearfix"></div>
                      <div class="">
                        <p class="bg-warning">Shipping calculator will be used at checkout to determine rate via zip code</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div ng-if="ad.isShippingAvailable === 'no'" class="shipping">
            <div class="col-md-12">
              <div class="row">
                <h5 class="page-header">Which of your store location should the buyer pickup item after payment?</h5>
                <div ng-app="packAdApp">
                  <div class="col-md-12 ">
                    <label>Please select one</label>
                    <br>
                    <div class="form-group">
                    <span class="radio-inline"><label for="Yes">
                        <input type="radio" name="shopingfree" ng-model="ad.store.location" ng-required="ad.shippingDetails" value="any"> Any</label></span>
                    <span class="radio-inline"><label for="Yes">
                        <input type="radio" name="shopingfree" ng-model="ad.store.location" ng-required="ad.shippingDetails" value="closer"> Closest to Buyer</label></span>
                    <span class="radio-inline"><label for="shippingno">
                        <input type="radio" name="shopingfree" ng-model="ad.store.location" ng-required="ad.shippingDetails" value="location"> At this specific location</label></span>
                  </div>
                  </div>

                  <div ng-if="ad.store.location === 'location'">
                    <div class="form-group">
                      <div class="col-md-6 form-group">
                        <label for="country">Country</label>
                        <select class="form-control" ng-required="ad.shippingDetails" ng-model="ad.storeDetails.country" ng-options="country.name for country in data.countries">
                          <option value="">select country</option>
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="state">State</label>
                        <select class="form-control" ng-required="ad.shippingDetails" ng-model='ad.storeDetails.state' ng-options="state.name for state in data.states | filter:{cid:ad.storeDetails.country.id || -1}">
                          <option value="">select state</option>
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="rate">City</label>
                        <input type="text" class="form-control" ng-model='ad.storeDetails.city' ng-required="ad.storeDetails">
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="rate">Zip Code</label>
                        <input type="text" class="form-control" ng-model='ad.storeDetails.zipCode' ng-required="ad.storeDetails">
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="rate">Address</label>
                        <textarea class="form-control" rows="3" ng-model='ad.storeDetails.address' ng-required="ad.storeDetails"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
