<div class="form-group text-center">
  <h4 class="md-headline docs-output text-primary text-left" for="firstName">Let’s create the most effective All in One Selling & Marketing tool on the web</h4>

  <h5 class="md-title docs-output text-muted text-left form-group">Before we begin, lets remind you of the <strong class="text-success">3</strong> components of a PackAd</h5>
  <div class="diveder form-group"></div>

  <div class="light-gray-bg start-page">
      <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
        <div layout="row" flex="100" layout-padding="5" layout="row" layout-align="center stretch">
          <div flex="30" class="free-Billboard" layout="row" layout-align="center stretch">
            <h3 clas="md-headline docs-output text-color-white" layout="row" layout-align="center stretch">Free Ad Billboard</h3> 
          </div>

          <div flex="70" class="bg-white" layout="column" layout-align="center stretch">
            <div class="ad" layout="row" layout-align="left stretch">
               <div layout="row" layout-align="left stretch" flex="90"><h5 class="md-subhead text-left">This helps you save money by running Ads for FREE!</h5></div>
               <div flex="10"><img src="../images/savings.png"></div>
            </div>
          </div>
          </div>
      </div>

      <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
	      <div layout="row" flex="100" layout-padding="5">
	      
		      <div flex="30" class="Discount-Billboard" layout="row" layout-align="center stretch">
		        <div class="Discount-Billboard" layout="row" layout-align="left stretch">
		          <h3 class="md-headline docs-output text-color-white" layout="row" layout-align="left stretch">Store front</h3> 
		        </div>
		      </div>

		       <div layout="row" flex="70" class="bg-white" layout-align="left stretch">
		         <h5 class="md-subhead text-left" layout="row" layout-align="left stretch" flex="90">This is where you sell for FREE & make money</h5>
		         <div flex="10"><img src="../images/billboard.png"></div>
		       </div>
 			   
	        </div>
        </div>
      

	      <div class="padded" md-whiteframe="1" flex="100" layout-margin-bottom="5">
	        <div layout="row" flex="100" layout-padding="5">
	          <div flex="30" class="rate-deal" layout="row" layout-align="center stretch">
	          <h3 class="md-headline docs-output text-color-white" layout="row" layout-align="left stretch">Rate My Deal</h3></div>
	          
	           <div layout="row" flex="70" class="bg-white" layout-align="left stretch">
		         <h5 class="md-subhead text-left" layout="row" layout-align="left stretch" flex="90">Consumers use this to give thumbs up or down to your discount</h5>
		         <div flex="10"><img src="../images/like.png"></div>
		       </div>
	          

	        </div>
	      </div>
    </div>

</div>