<div class="form-group text-left">
  <h4 class="md-headline docs-output text-primary"> Got images for your item? Please upload</h4>

  <h5 class="md-subhead text-muted">You can upload upto 5 images. No size limit but we automatically compresses and resizes large files</h5>
  <div class="diveder"></div>

  <div class="row">
    <div class="col-md-3">
    
    <h4 class="md-headline docs-output text-primary">Primary Image</h4>
    <h4 class="md-caption text-muted">This is the images how non your PackAd</h4>

      <div class="text-left light-gray padding10">
        <div class="form-control upload-img">
          <img style="width:140px" ng-show="!!ad.primaryImg" ngf-thumbnail="ad.primaryImg" />
        </div>
        <button class="btn btn-primary btn-xs col-md-6" ng-model="ad.primaryImg" ngf-select ngf-multiple="false" name="imageUpload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-change="upload($files) ">
          Select Image
        </button>
        <button class="btn btn-danger btn-xs col-md-6" ng-click="removePrimaryImage()"><i class="icon-cancel"></i> Remove</button>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
      <div class="col-md-9">
        <h4 class="md-headline docs-output text-primary"> Additional Images</h4>
        
        <h5 class="md-subhead text-muted">These are images that are viewed by clicking “moreimages”</h5>
      </div>
      
      <div class="col-md-3">
        <button class="btn btn-primary" style="margin-top: 50px;" ng-model="ad.secondaryImages" ngf-select ngf-multiple="true" name="imageUpload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-change="upload($files) ">
          Select Images
        </button>
      </div>
      </div>


      <div class="row process-upload-sec">
          <div class="col-md-4 form-group" ng-repeat="image in ad.secondaryImages">
            <div class="light-gray padding10">
              <div class="form-control upload-img">
                <img style="width:155px" ng-show="!!image" ngf-thumbnail="image" />
              </div>
              <button class="btn btn-danger btn-block btn-xs"><i class="icon-cancel"></i> Remove</button>
              <div class="clearfix"></div>
            </div>
          </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
 
</div>
