<div class="form-group text-left">
  <h4 class="md-headline docs-output text-primary">And now, the final part</h4>

  <h5 class="md-subhead docs-output text-muted">When you post this PackAd, which consumers do you want to see it?</h5>
  <div class="diveder form-group"></div>

   <div class="light-gray padding10 form-group">
    <div class="">
      
      <p class="md-body-1 text-muted form-group">The PackAd including the item you are selling and your free Ad will be displayed to the se consumers connected to the same commercial group as your PackAd.</p>

      <h4 class="md-title text-muted">Choose one</h4>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 bo rder-all">
            <label class="radio-inline">
              <input type="radio" ng-model="ad.visibleAt" ng-required="ad" value="all" name=""> The PackAd will be displayed to all consumers regardless of where they live</label>
            <!-- <p class="text-primary">The PackAd will be displayed to all consumers regardless of where they live</p> -->
          </div>
          <div class="col-md-4 bo rder-all">
            <label class="radio-inline">
              <input type="radio" ng-model="ad.visibleAt" ng-required="ad" value="specificState" name=""> PackAd will be displayed to only consumers from the chosen country and state.You can choos emultiple states</label>
            <!-- <p class="text-primary">PackAd will be displayed to only consumers from the chosen country and state.You can choos emultiple states</p> -->
          </div>
          <div class="col-md-4 bo rder-all">
            <label class="radio-inline">
              <input type="radio" ng-model="ad.visibleAt" ng-required="ad" value="specificArea" name=""> PackAd will be displayed to only consumers from the chosen country and state.You can choos emultiple states</label>
            <!-- <p class="text-primary">PackAd will be displayed to only consumers from the chosen country and state.You can choos emultiple states</p> -->
          </div>
          <div ng-if="ad.visibleAt==='specificState'" class="col-md-12 bg-white border-all padding10">
            
            <div class="row">
              <div class="col-md-12"><label>This Country & State Only</label></div>
              <div class="col-md-6">
                <select class="form-control" ng-required="ad.visibleAt" ng-model="ad.visibleState.country" ng-options="country.name for country in data.countries">
                  <option value="">select country</option>
                </select>
              </div>
              <div class="col-md-6">
                <select class="form-control" ng-required="ad.visibleAt" ng-model='ad.visibleState.state' ng-options="state.name for state in data.states | filter:{cid:ad.visibleState.country.id || -1}">
                  <option value="">select state</option>
                </select>
              </div>
              <h6 class="md-body-1 text-muted col-md-12">PackAd will be displayed to only consumers from the chosen country and state.You can choos emultiple states</h6>
            </div>
          </div>
          <div ng-if="ad.visibleAt==='specificArea'" class="col-md-3 col-md-offset-4 bg-white border-all padding10">
            <label>Near this Zip Code</label>
            <input type="text" ng-model="ad.visibeZip" ng-required="ad.visibleAt" class="form-control" pa-input-field regx-pattern="^[0-9]" maxlength="5" size="5">
            <h6 class="md-body-1 text-muted form-group">PackAd will be displayed to only consumers close to the chosen zip code.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
