<div class="form-group text-left">
  <h4 class="md-headline docs-output text-primary">Quick reminder on how it works</h4>

  <div class="light-gray padding10 form-group">
    Consumers in the commercial group gets to vote ony our deal. The more likes you get, the more priority display your PackAd gets which means more visibility for your FreeAd and item you are selling. Use the Back button to go back and sweeten your discount.
  </div>
  
  <div class="diveder form-group"></div>

  <div class="row show-grid">
    <div class="col-md-6 col-md-offset-3">
      <img src="../images/likeit.png">
      <div class="col-md-6 text-left">
        <h1 class="text-success">70%</h1></div>
      <div class="col-md-6 text-right">
        <h1 class="text-danger">30%</h1></div>
    </div>
  </div>
</div>
