<nav class="navbar navbar-inverse-home navbar-fixed-top" pack-ad-pop-up operational="false" options="hc.currentUser.modal">
  <div class="container">
    <div class="col-md-2">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-logo" href="#" title="PackAd"><img src="../images/logo.png" border="0"></a>
      </div>
    </div>
    <div class="col-md-10">
      <div id="navbar" class="navbar-collapse collapse">
        <div class="row">
          <div class="col-md-12 text-right logout-settings"><a href=""><i class="icon-cart"></i> Cart</a> <a href=""><i class="icon-cog-1"></i> My Account</a> <a ng-click="hc.logout()"><i class=" icon-off"></i> Logout</a>
            <span class="label">{{hc.currentUser.role == 'Business' ? hc.currentUser.companyName : hc.currentUser.fullName}} </span>
            <img ngf-src="hc.currentUser.profilePicture" alt="Profile picture not fould" class="img-thumbnail" style="width:30px; height: 30px">
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="navbar-form search-cat">
              <select class="selectpicker" title="Select Category">
                <optgroup label="Electronics">
                  <option data-icon="icon-desktop pull-right">Computers</option>
                  <option data-icon="icon-mobile pull-right">Phones</option>
                  <option data-icon="icon-camera pull-right">Electronics</option>
                  <option data-icon="icon-tv pull-right">TV</option>
                </optgroup>
                <optgroup label="Electronics">
                  <option data-icon="icon-desktop pull-right">Computers</option>
                  <option data-icon="icon-mobile pull-right">Phones</option>
                  <option data-icon="icon-camera pull-right">Electronics</option>
                  <option data-icon="icon-tv pull-right">TV</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="col-md-9">
            <form class="form-inline navbar-form search-bar">
              <div class="input-group"><a href="#" class=""><i class="icon-search-1"></i></a>
                <input type="text" placeholder="Eg: 41’ LCD Televisions" class="form-control">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
<div class="container">
  <div class="alert alert-danger" ng-hide='hc.userEmailConfirmed'>
    <strong>Warning!</strong>To use full features, please complete your email verification.
    <button ng-click='hc.sendEmailVerification()'>Click here</button> to resend email.
  </div>
  <div class="alert alert-info fade in" ng-show='hc.emailSent' width="50%">
    <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a> Email sent successfully !!
  </div>
</div>
<!-- Trending menu
    ================================================== -->
<div class="container trending">
</div>
<!-- /.Trending menu -->
<div class="container">
  <!-- Example row of columns -->
  <div class="col-md-5">
    <div class="form-group">
      <div class="form-group"><img src="../images/landingpage-banner.png" class="img-responsive"></div>
      <div ng-controller="ModalDemoCtrl">
        <h4 class="multi-heading"><small>Use the Intractive group boxes to</small>
        Join Our Commercial Group <a href="#" class="pull-right" ng-click="open('lg')"><i class="icon-cog-alt"></i> PackAd manager</a>
        </h4>
        <!-- <h4 class="multi-heading"><small>Use the Intractive group boxes to</small>
        Join Our Commercial Group <a href="#" class="pull-right" ng-click="open('lg')"><i class="icon-cog-alt"></i> PackAd manager</a>
        </h4> -->
        <script type="text/ng-template" id="myModalContent.html">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>PackAd Creation</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <div id="wizard-container" ng-controller="WizardController as vm">
          <div class="md-dialog-content">
            <div class="modal-body">
              <div class="text-center"><img src="../images/making_money_with_backad.jpg" title="making money"></div>
              <!-- views will be injected here -->
              <!--  <div id="wizard-step-container">
              <ul class="nav nav-pills nav-justified">
                <li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}"><a ng-click="vm.gotoStep(step.step)" href="">{{step.step}}</a></li>
              </ul>
            </div> -->
              <div id="wizard-content-container">
                <ng-include src="vm.getStepTemplate()"></ng-include>
              </div>
            </div>
            <div class="modal-footer">
              <div id="wizard-navigation-container">
                <div class="pull-right">
                  <span class="">
                <button ng-disabled="vm.currentStep <= 1" class="btn btn-default" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)" id="prev"><i class="fa fa-arrow-left"></i> Back</button>

                <button id="cancelChange" class="btn btn-default">Cancel change</button>

                <md-button ng-disabled="vm.currentStep >= vm.steps.length" class="md-raised md-primary" name="next" ng-click="vm.gotoStep(vm.currentStep + 1)" id="next"><span>{{vm.getNextLabel()}}</span> </md-button>

              </span>
                  <button ng-disabled="vm.currentStep != vm.steps.length" class="btn btn-success" name="next" type="button" ng-click="vm.save()"> <i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </script>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert"> <strong></strong> Connect to a commercial group and Post PackAds to interact with consumers, sell and run Ads for FREE. </div>
        </div>
        <div class="col-sm-6 col-md-6" ng-repeat="groupBoxDetail in hc.groupBoxDetailsArray">
          <packad-groupbox groupbox-details="groupBoxDetail" user="hc.currentUser"></packad-groupbox>
        </div>
        <div class="col-sm-12 col-md-12">
          <a href="#"><i class="icon-plus-squared"></i> Add more selling packages</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <!-- <button class="btn btn-primary" ng-click="hc.createAd()"> Create your Ad</button> -->
    <div class="form-group">
      <h3 class="col-md-5 mar0"><a href="#">What is PackAd?</a></h3>
      <h3 class="col-md-7 mar0"><a href="#">What is Packad commercial?</a></h3>
      <div class="clearfix"></div>
    </div>
    <div class="thumbnail ">
      <h4 class="text-left prod-title">All Group Feeds <i class="pull-right icon-rss"></i></h4>
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              Activity Group </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
              Individual group feeds </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <div class="all-feeds">
                <div class="grp-logo"><img src="../images/feeds-logo.png" class="img-responsive"></div>
                <div class="grp-activelist">
                  <h5>Cloths & Bags</h5>
                  <ul>
                    <li>
                      <div class="free-Billboard">Free Ad Billboard</div>
                      <div class="ad"><img src="../images/freead.png" class="img-responsive"></div>
                    </li>
                    <li>
                      <div class="Discount-Billboard">Discount Sale
                        <h4>50% Off</h4></div>
                      <div class="ad"><img src="../images/discount.png" class="img-responsive"></div>
                    </li>
                    <li class="rating-section">
                      <img src="../images/rate.png" class="img-responsive">
                    </li>
                    <li class="show-commnets"><a href="#"><i class="icon-down-open"></i> ShowComments...</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <hr/>
              </div>
              <div class="all-feeds">
                <div class="grp-logo"><img src="../images/feeds-logo.png" class="img-responsive"></div>
                <div class="grp-activelist">
                  <h5>Cloths & Bags</h5>
                  <ul>
                    <li>
                      <div class="free-Billboard">Free Ad Billboard</div>
                      <div class="ad"><img src="../images/freead.png" class="img-responsive"></div>
                    </li>
                    <li>
                      <div class="Discount-Billboard">Discount Sale
                        <h4>50% Off</h4></div>
                      <div class="ad"><img src="../images/discount.png" class="img-responsive"></div>
                    </li>
                    <li class="rating-section">
                      <img src="../images/rate.png" class="img-responsive">
                    </li>
                    <li class="show-commnets"><a href="#"><i class="icon-down-open"></i> ShowComments...</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="tab-pane" id="tab_default_2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>
  <footer>
    <div class="float-left"><a href="">About us</a> | <a href="">What is a PackAd?</a> | <a href="">How it Works</a> | <a href="">Careers</a> | <a href="">Privacy Policy</a> | <a href="">Terms</a> | <a href="">Support</a> </div>
    <p class="float-right">Copyright &copy; 2016 PackAd, Inc. All Rights Reserved.</p>
  </footer>
</div>
<!-- /container -->
<!-- Bootstrap Model light box
    ================================================== -->
<!-- Modal for category popup-->
<div class="modal fade bs-example-modal-lg" id="businessCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog width95per" role="document">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select main or sub category of group you want to connect to</h4>
      </div>
      <p class="bg-info mar-bot0">Note: Business users can only connect to Sub category, but consumer users can connect to either Main or Sub category .Choosing Main category connects you to all sub categories, but choosing a sub category only connects you to that specific sub category
      </p>
      <div class="modal-body">
        <p class="bg-warning text-center">Groups GREYED out are currently not available but will be coming soon.</p>
        <div class="col-md-3" ng-repeat="chunkedBusinessCategories in hc.chunkedBusinessCategoryData">
          <div class="form-group" ng-repeat="businessCategory in chunkedBusinessCategories">
            <ul class="cat-list">
              <li>
                <a href="#" ng-class="{'btn-link-orange' : businessCategory.Active === '1', 'btn disabled' : businessCategory.Active === '0'}">
                  <h4>{{businessCategory.Name}}</h4>
                </a>
              </li>
              <li ng-repeat="businessSubCategory in hc.businessSubCategories | businessSubCategoryList:businessCategory.Id">
                <a href="#" ng-class="{'btn-link' : businessSubCategory.Active === '1', 'btn disabled' : businessSubCategory.Active === '0'}" data-toggle="modal" data-target="#conformation" ng-click="hc.subCategoryClick(businessSubCategory.catId, businessSubCategory.Name)">{{businessSubCategory.Name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class=" clearfix "></div>
      </div>
      <div class="modal-footer ">
        <!-- <button type="button " class="btn btn-danger " data-dismiss="modal "><i class="glyphicon glyphicon-remove "></i> Close</button>
        <button type="button " class="btn btn-primary "><i class="glyphicon glyphicon-floppy-disk "></i> Next</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal for conformation cat -->
<div class="modal in" id="conformation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agreement</h4>
      </div>
      <div class="modal-body">
        Selected Category: <strong>{{hc.selectedSubCategoryName}}</strong> under <strong>{{hc.selectedCategoryName}}</strong>
        <br/>
        <br/>By Joining this commercial group you agree not to use it to post offensive materials, spam, or other inappropriate contents as outlined in the <u>terms and conditions</u> page. Failure to abide by this agreement could lead to termination of your account.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="hc.showCategoryModal()">Back</button>
        <button type="button" class="btn btn-primary" ng-click="hc.tcConfirmed()" data-dismiss="modal">I Agree</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal in" id="connectFirst" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Warning !!</h4>
        </div>
        <div class="modal-body">
          Please connect to a commerical group first before you can create and host a PackAd.
        </div>
      </div>
    </div>
</div>

</div>

<script>
$('.selectpicker').selectpicker();
</script>
