<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

 <fieldset>
    <div class="form-group text-center">
      <h2 class="primary-text-color">After payment how should buyer retrieve this item</h2>
      <br>
      
      <h4 class="secondary-text-color">Indicate here whether item will be shipped to buyer or buyer needs to pickup at a store location</h4><br>
      
      <div class="row">
        <div class="col-md-12 form-group required">Denotes mandatory field</div>
        
        <div class="form-group">
          
            <h4 class="secondary-text-color">Please select one</h4>

            <div ng-app="packAdApp" ng-controller="ModalDemoCtrl">
              <span class="radio-inline"> 
                <label><input type="radio" ng-model="opportunity" name="shipping" value="shipping"> Shipping</label>
              </span>

              <span class="radio-inline"> 
                <label> <input type="radio" ng-model="opportunity" name="store" value="store">  Store Pickup </label>
              </span>
          
            <div ng-show="isShown('shipping')" class="shipping">
                <div class="col-md-12">
                <div class="row">
                    <h5 class="page-header">is shipping free?</h5>
                    
                    <div ng-app="packAdApp" ng-controller="ModalDemoCtrl">
                    <div class="col-md-12 ">
                      <span class="checkbox-inline"><label for="Yes">
                      <input type="radio" name="shopingfree" ng-model="showHideshipping" ng-value="false"> Yes</label></span>
                      
                      <span class="checkbox-inline"><label for="shippingno">
                      <input type="radio" name="shopingfree" ng-model="showHideshipping" ng-value="true"> No</label></span>
                    </div>

                    <div ng-show="showHideshipping">
                      <label>CalculateShipping</label>
                      
                       <div class="form-group">
                          <div class="col-md-6">
                            <label for="rate">Set my rate</label>
                            <input type="text" class="form-control" id="rate" name="rate" placeholder="$">
                          </div>
                           <div class="col-md-6 form-group">
                            <label for="rate">Item weight</label>
                            <input type="text" class="form-control" id="weight" name="weight" placeholder="LBS">
                            <label>LBS</label>
                          </div>

                          <div class="col-md-12 text-left">
                            <span class="checkbox-inline"><label for="calculato"><input type="checkbox" > Use UPS Shipping Calculato</label></span>
                            <span class="checkbox-inline"><label for="calculato"><input type="checkbox" > Use UPS Shipping Calculato</label></span>
                            <span class="checkbox-inline"><label for="calculato"><input type="checkbox" > Use UPS Shipping Calculato</label></span>
                          </div>
                          
                          <div class="clearfix"></div>
                          <div class=""><p class="bg-warning">Shipping calculators will be used at checkout to determine rate via zip code</p></div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>




            <div ng-show="isShown('store')" class="shipping">
                <div class="col-md-12">
                <div class="row">
                    <h5 class="page-header">Which of your store location should the buyer pickup item after payment?</h5>
                    
                    <div ng-app="packAdApp" ng-controller="ModalDemoCtrl">
                    <div class="col-md-12 ">
                      <label>Please select one</label><br>
                      
                      <span class="radio-inline"><label for="Yes">
                      <input type="radio" name="shopingfree" ng-model="showHideshipping" ng-value="false"> Any</label></span>

                      <span class="radio-inline"><label for="Yes">
                      <input type="radio" name="shopingfree" ng-model="showHideshipping" ng-value="false"> Closest to Buyer</label></span>
                      
                      <span class="radio-inline"><label for="shippingno">
                      <input type="radio" name="shopingfree" ng-model="showHideshipping" ng-value="true"> At this specific location</label></span>
                    </div>

                    <div ng-show="showHideshipping">
                       
                       <div class="form-group">
                          <div class="col-md-6 form-group">
                            <label for="rate">Country</label>
                            <select class="form-control">
                              <option>India</option>
                            </select>
                          </div>
                           <div class="col-md-6 form-group">
                            <label for="rate">State</label>
                            <select class="form-control">
                              <option>India</option>
                            </select>
                          </div>
                          <div class="col-md-6 form-group">
                            <label for="rate">City</label>
                            <input type="text" class="form-control" >
                          </div>
                          <div class="col-md-6 form-group">
                            <label for="rate">Zip Code</label>
                            <input type="text" class="form-control" >
                          </div>
                           <div class="col-md-12 form-group">
                            <label for="rate">Address</label>
                            <textarea class="form-control" rows="3"></textarea>
                          </div>
                      </div>

                    </div>
                  </div>
                </div>
                </div>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>