<div class="form-group text-center">
  <h2 class="primary-text-color">Got images for your item? Please upload</h2>
  <h4>You can upload upto 5 images. No size limit but we automatically compresses and resizes large files</h4>

  <h2>Primary Image</h2>
  <h4 class="secondary-text-color">This is the images how non your PackAd</h4>  
  
  <div class="col-md-12">
  	<div class="text-center">
		<button class="btn btn-primary btn-xs">Browse File</button>
		<button class="btn btn-primary btn-xs">Upload</button>
	</div>
  </div>
 
 <div class="clearfix"></div>
  <hr/>
  <div class="clearfix"></div>
  <div class="col-md-12">
  
  <h2>Additional Images</h2>
  <h4 class="secondary-text-color">These are images that are viewed by clicking “moreimages”</h4>  

  <div class="row process-upload-sec">
  	
  	<div class="col-md-6 form-group">
  		<div class="text-left">
  			<button class="btn btn-primary btn-xs">Browse File</button>
    		<button class="btn btn-primary btn-xs">Upload</button>
    	</div>
    	<div class="media">
		  <div class="media-left media-middle">
		     <span class="thumbnail"><img class="media-object" src="../images/features-5.png" alt="..."></span>
		  </div>
		  <div class="media-body">
		    <button class="btn btn-danger btn-xs"><i class="icon-cancel"></i> Remove</button>
		  </div>
		</div>
  	</div>

  	<div class="col-md-6 form-group form-group">
  		<div class="text-left">
  			<button class="btn btn-primary btn-xs">Browse File</button>
    		<button class="btn btn-primary btn-xs">Upload</button>
    	</div>
    	<div class="media">
		  <div class="media-left media-middle ">
		     <span class="thumbnail"><img class="media-object" src="../images/features-5.png" alt="..."></span>
		  </div>
		  <div class="media-body">
		    <button class="btn btn-danger"><i class="icon-cancel"></i> Remove</button>
		  </div>
		</div>
  	</div>

  	<div class="col-md-6 form-group">
  		<div class="text-left">
  			<button class="btn btn-primary btn-xs">Browse File</button>
    		<button class="btn btn-primary btn-xs">Upload</button>
    	</div>
    	<div class="media">
		  <div class="media-left media-middle ">
		     <span class="thumbnail"><img class="media-object" src="../images/features-5.png" alt="..."></span>
		  </div>
		  <div class="media-body">
		    <button class="btn btn-danger"><i class="icon-cancel"></i> Remove</button>
		  </div>
		</div>
  	</div>

  	<div class="col-md-6 form-group">
  		<div class="text-left">
  			<button class="btn btn-primary btn-xs">Browse File</button>
    		<button class="btn btn-primary btn-xs">Upload</button>
    	</div>
    	<div class="media">
		  <div class="media-left media-middle ">
		     <span class="thumbnail"><img class="media-object" src="../images/features-5.png" alt="..."></span>
		  </div>
		  <div class="media-body">
		    <button class="btn btn-danger"><i class="icon-cancel"></i> Remove</button>
		  </div>
		</div>
  	</div>
  </div>
  <div class="clearfix"></div>
  </div>
</div>