<div class="form-group text-center">
  <h2 class="primary-text-color">And now, the final part</h2>
  <h4 class="secondary-text-color">When you post this PackAd, which consumers do you want to see it?</h4>
  
  <div class="alert alert-info" role="alert">
  	Consumersinthecommercialgroupgetstovoteonyourdeal. Themorelikesyouget,themoreprioritydisplayyourPackAdgetswhichmeansmorevisibilityforyourFreeAdanditemyouareselling.UsetheBackbuttontogobackandsweetenyourdiscount.
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-muted">The PackAd including the item you are selling and your free Ad will be displayed to the se consumers connected to the same commercial group as your PackAd.</p>

      <h2 class="primary-text-color">Choose one</h2>

      <div class="row">
        <div class="col-md-12">
          
          <div class="col-md-3 border-all">
            <label class="radio-inline"><input type="radio" name="all"> All</label>
            <p class="text-primary">The PackAd will be displayed to all consumers regardless of where they live</p>
          </div>

          <div class="col-md-6 border-all">
            <label class="radio-inline">This Country & State Only</label>
            <div class="row">
              <div class="col-md-6">
                <select class="form-control">
                  <option>Select Country</option>
                  <option>India</option>
                </select>
              </div>

              <div class="col-md-6">
                <select class="form-control">
                  <option>Select State</option>
                  <option>India</option>
                </select>
              </div>
              <p class="text-primary">PackAd will be displayed to only consumers from the chosen country and state.You can choos emultiple states</p>
              </div>
          </div>

          <div class="col-md-3 border-all">
            <label class="radio-inline">Near this Zip Code</label>
            <input type="text" class="form-control">
            <p class="text-primary">PackAd will be displayed to only consumers close to the chosen zip code.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
 </div>