<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

   <fieldset>
    <div class="form-group text-center">
      <h2 class="primary-text-color">Describe this item</h2>
      <br>
      
      <h4 class="secondary-text-color">This is what buyers will see when they check this productor service description</h4><br>
      <textarea class="form-control" placeholder="Enter description..." rows="6"></textarea>
    </div>
  </fieldset>
</div>