<div class="form-group text-center">
  <h1 class="text-success">Congratulations!</h1>
  <h5 class="text-primary">You have created the most power ful sales and marketing cost cutting tool on the web</h5>

  <h5 class="text-muted">Please review information on your PackAd for accuracy then post to commercial group</h5>

  <div class="all-feeds">
  <div class="col-md-9 text-center">To make changes, use the “edit” link in each area</div>
  <div class="col-md-3"><a href="#">Edit</a></div>
  <ul>
    <li>
      <div class="free-Billboard">Free Ad Billboard <a href="#">Edit</a>
      </div>
      <div class="ad">
      	<div class="alert alert-warning" role="alert"> 
          Amazon Fire TV is a tiny box you connect to your HDTV. 
          <br>
          <a href="#">Edit</a>
        </div>
      </div>
    </li>
    <li>
      <div class="Discount-Billboard">Store front <a href="#">Edit</a></div>
      <div class="ad">
      	<div class="media"> <div class="media-left"> 
        <a href="#"> <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="../images/features-5.png" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
      	<a href="#">More Images</a>

        <p>Deal Expires: 07/08/2015</p>
        <a href="#">See return&refund policie</a>
      	</div> 
      	
        <div class="media-body"> 
      		<h4 class="media-heading">LED TV <a href="#">Edit</a></h4> 
      		<a href="#" class="form-group">More Info...</a> 

      		<div class="row">
            <div class="col-md-12">
            <div class="col-md-9">
              <strong>Normal Price: $699</strong>  
              <p class="text-muted">Free Ad for a Discount Price</p>
              <h1 class="text-success">$510.50</h1>
            </div> 

             <div class="col-md-3">
              <strong>35% Of</strong>  
              <p class="text-muted">Free Ad for a Discount Price</p>
              <a href="#">Edit</a>
              <button type="button" class="btn btn-success"><i class="icon-cart"></i> Add to Cart</button>
            </div> 
          </div>
          </div>
          <div class="alert alert-info" role="alert">
    			  Price section not done yet
    			</div>

    			<div class="alert alert-info" role="alert">
    			  Discount section not done yet
    			</div>

      	</div> 

      	</div>
      </div>
    </li>
    <li class="rating-section">
      <div class="Discount-Billboard">Rate My Deal</div>
      <img src="../images/rate.png" class="img-responsive">
      <p class="text-primary">If “don’t likeit” reaches 30% the PackAd owner losses rights to use Free Ad billboard</p>
    </li>
  </ul>
</div>
</div>