<div class="form-group text-center">
  <h2 class="primary-text-color">How do you want to create your Ad?</h2>
  
 <fieldset>
  <div class="form-group text-center">
    <h2 class="primary-text-color">Is what you are listing to sell a product or service?</h2>
    <br>
    
    <div class="col-md-6 text-left">Denotes required field</div>
    <div class="col-md-6 text-right">Preview Ad as it will appear on the PackAd</div>
    <div class="form-group text-center">
      <h4 class="secondary-text-color">You have unlimited words, but only what fits in the text box grid below will be shown. Additional will be seen when “showmore” is clicked</h4>

      <div class="col-md-12 text-center">
        <input type="text" class="form-control input-lg" placeholder="Subject....this is optional and must fit grid">
      </div>
      <br>
      <br>
      <textarea class="form-control" placeholder="Body... nowords limit but only what is show non grid is displayed on PackAd and rest can be seen via “more”link" rows="6"></textarea>
    </div>
  </div>
</fieldset>
</div>

<div class="form-group text-center">
  <h2 class="primary-text-color">Upload Your Ad Image</h2>
  
 <fieldset>
  <div class="form-group text-center">
   
    <div class="col-md-6 text-left">Image will be automatically resized to fit grid</div>
    <div class="col-md-6 text-right">Preview Ad as it will appear on the PackAd</div>
    <div class="form-group text-center">
      <span class="thumbnail">
        <div class="text-left">
          <button class="btn btn-primary btn-xs">Upload Image</button>
        </div>
      </span>
    </div>
  </div>
</fieldset>
</div>
