<div class="form-group text-center">
  <h2 class="primary-text-color">Quick reminder on how it works</h2>
  
  <div class="alert alert-info" role="alert">
  	Consumersinthecommercialgroupgetstovoteonyourdeal.Themorelikesyouget,themoreprioritydisplayyourPackAdgetswhichmeansmorevisibilityforyourFreeAdanditemyouareselling.UsetheBackbuttontogobackandsweetenyourdiscount.
  </div>
  <br>
  <br>
  
  <div class="row show-grid">
	  <div class="col-md-6 col-md-offset-3">
	  	<img src="../images/likeit.png">
	  	<div class="col-md-6 text-left"><h1 class="text-success">70%</h1></div>
	  	<div class="col-md-6 text-right"><h1 class="text-danger">30%</h1></div>
	  </div>
  </div>
 </div>