<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

   <fieldset>
    <div class="form-group text-center">
      <h2 class="primary-text-color">Change commercial group</h2>
      <br>
      <h1 class="warning-text">Warning</h1><br>
      <h4 class="secondary-text-color">You currently have <strong class="warning-text">2</strong> PackAds running in “Clothing(women). If you disconnect from this group the PackAds will be removed from the group</h4>
     
    </div>
  </fieldset>
</div>