<div class="form-group text-center">
  <h2 class="primary-text-color">How much discount do you want to give customers on the item you are selling?</h2>
  <h4 class="secondary-text-color">We try to make every one happy. FreeAd for you and some discount for the shoppers..it’s the PackAd way</h4>
  <br>

  <fieldset>
  	<h6>Remember consumers gets to vote like or not on your discount. More likes means more freeAd exposure</h6>

  	<label>Denotes required field</label>

  	<div class="row">
	  	<div class="col-md-12">
	  		<div class="col-md-4 required">
				<label>Regular price of item</label>  
				<input type="text" name="" class="form-control">				
	  		</div>
	  		<div class="col-md-4 required">
				<label>Discount you are giving</label>  
				<input type="text" name="" class="form-control"> %				
	  		</div>
	  		<div class="col-md-4 required">
				<label>Discount Expires</label>  
				<input type="text" name="" class="form-control"> %				
	  		</div>
	  	</div>
  	</div>

  	<div class="row">
  		<div class="col-md-12">
  		<h4 class="secondary-text-color">Final price of item you are selling with discount applied</h4>
  		<label>This is calculated automatically based on your regular price and discount offered</label>

  		<textarea class="form-control" placeholder="" rows="6"></textarea>
  		</div>
  	</div>

  	<div class="row">
  		<div class="col-md-12">
  		<h4 class="secondary-text-color">The FreeAd for a Discount Price</h4>
  		<label>This is calculated automatically based on your regular price and discount offered</label>
  		<h1><span class="label label-default">510.50</span> </h1>
  		</div>
  	</div>
  </fieldset>
 </div>