<div class="form-group text-center">
  <h2 class="primary-text-color">Your Ad as it will appear on the PackAd</h2>
  
  <div class="all-feeds">
  <ul>
    <li>
      <div class="free-Billboard">Free Ad Billboard</div>
      <div class="ad">
      	<div class="alert alert-warning" role="alert"> 
          Amazon Fire TV is a tiny box you connect to your HDTV. 
        </div>
      </div>
    </li>
    <li>
      <div class="Discount-Billboard">Store front</div>
      <div class="ad">
      	<div class="media"> <div class="media-left"> <a href="#"> <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="../images/features-5.png" data-holder-rendered="true" style="width: 64px; height: 64px;"> </a>
      	<a href="#">More Images</a>
      	</div> 
      	<div class="media-body"> 
      		<h4 class="media-heading">LED TV</h4> 
      		<a href="#" class="form-group">More Info...</a> 

      		<div class="alert alert-info" role="alert">
			  Price section not done yet
			</div>

			<div class="alert alert-info" role="alert">
			  Discount section not done yet
			</div>

      	</div> 

      	</div>
      </div>
    </li>
    <li class="rating-section">
      <div class="Discount-Billboard">Rate My Deal</div>
      <img src="../images/rate.png" class="img-responsive">
    </li>
  </ul>
</div>
</div>