<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

   <fieldset>
    <div class="form-group text-center" ng-controller="TooltipDemoCtrl">
      <h2 class="primary-text-color">What is your return and refund policy for this item</h2>
      <br>
      
      <div class="panel panel-info"> 
        <div class="panel-heading"> <h3 class="panel-title">Return Policy</h3> </div>
        <div class="panel-body"> Type your return policy or <a href="#" uib-tooltip="You do not have a preset refund policy.To create it later go to your Settings Page." class="ng-binding">click here to use your preset return policy</a>
        </div> 
      </div>
      <br>

      <div class="panel panel-info"> 
        <div class="panel-heading"> <h3 class="panel-title">Refund Policy</h3> </div>
        <div class="panel-body"> Type your refund policy or <a href="#">click here to use your preset refund policy</a> </div> 
      </div>
      <br>

    </div>
  </fieldset>

</div>