<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

  <fieldset>
    <div class="form-group text-center">
      <h2 class="primary-text-color">Is what you are listing to sell a product or service?</h2>
      <br>
      
      <h4 class="secondary-text-color">Please select one</h4>
      <span class="checkbox-inline"> 
        <label> <input type="radio" name="shipping"> Product</label>
      </span>
      <span class="checkbox-inline"> 
        <label> <input type="radio" name="shipping">  Service</label>
      </span>
    </div>
  </fieldset>
</div>