<div class="form-group text-center">
  <p class="bg-success">
  	Your PackAd has been <strong>successfully</strong> connected to the commercial group “Television” and now view able by consumers in that group.
  </p>
  <br>
  <br>

  <p>To make changes to the PackAd such as boosting discount, please use <a href="#">PackAd Manager</a>.</p>
  
  <div class="text-center">
    <a href="#">
	    <h1><i class="icon-home"></i></h1>
	    Return to HomePage
    </a>
  </div>

 </div>