<div class="form-group text-center">
  <h2 class="primary-text-color">Awseome! Done with the money saving section</h2>
  <h4 class="secondary-text-color">It’s time now for the part of a PackAd that consumers like</h4>
  <br>
  <br>
  <h1>Deal Time!</h1>
  <div class="text-center">
    <img src="../images/deal.png"/>
  </div>
 </div>