<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

  <fieldset>
    <div class="form-group text-center">
      <h2 class="primary-text-color">Change commercial group</h2>
      <br>
      <h4 class="secondary-text-color">Note changing group will disconnect you from group “RetailShopping–Clothing(women)</h4>
      <select class="selectpicker" title="Select Category">
        <option class="bs-title-option" value="">Select Category</option>
            <optgroup label="Electronics">
              <option data-icon="icon-desktop pull-right" value="Computers">Computers</option>
              <option data-icon="icon-mobile pull-right" value="Phones">Phones</option>
              <option data-icon="icon-camera pull-right" value="Electronics">Electronics</option>
              <option data-icon="icon-tv pull-right" value="TV">TV</option>
            </optgroup>
            <optgroup label="Electronics">
              <option data-icon="icon-desktop pull-right" value="Computers">Computers</option>
              <option data-icon="icon-mobile pull-right" value="Phones">Phones</option>
              <option data-icon="icon-camera pull-right" value="Electronics">Electronics</option>
              <option data-icon="icon-tv pull-right" value="TV">TV</option>
            </optgroup>
        </select>
    </div>
  </fieldset>
</div>