<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

 <fieldset>
  <div class="form-group text-center">
    <h2 class="primary-text-color">Enter the size, color or quantity as it relates to this item</h2>
    <br>
    
    <h4 class="secondary-text-color">The fields shown depends on the category you chose for the item</h4><br>
    
    <div class="row">
      <div class="col-md-12 form-group required"><label>Denotes mandatory field</label></div>
      
      <div class="form-group">

       <div class="col-md-3"></div>
       <div ng-controller="safeCtrl" class="col-md-7">

          <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
            <tr>
              <th st-sort="sizeH" class="required"><label>Size</label></th>
              <th st-sort="colorH">Color</th>
              <th st-sort="qtyH" class="required"><label>Qty</label></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
              <td> 
                  <select class="form-control">
                     <option>S</option>
                     <option>M</option>
                     <option>L</option>
                     <option>XL</option>
                     <option>1X</option>
                     <option>2X</option>
                     <option>3X</option>
                  </select>
              </td>
              <td><input type="text" class="form-control" id="color" name="color" placeholder="Color"> </td>
              <td><input type="number" class="form-control" id="color" name="color" placeholder="Qty"> </td>
              <td>
              <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
              </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-right">
          <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
              <i class="glyphicon glyphicon-plus">
              </i> Add new row
          </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</fieldset>
</div>