<div class="form-group text-center">
  <h2 class="primary-text-color">Congrats, finished the portion of a PackAd that helps you sell for FREE!</h2>
  <h4>Now let’s try to save you some money by adding your FREE Ad space</h4>
  <div class="text-center">
    <img src="../images/free-ad.png"/>
  </div>
  <h6>You can click here to previe wwhat your PackAd looks like now</h6>
</div>