<div class="form-group text-center">
  <div class="hide">
  	<label>Name</label>
  	<input type="text" class="form-control" name="name" ng-model="vm.user.name" required />
  </div>
  <fieldset>
    <div class="form-group text-center">
      <h5 aria-describedby="headings-output" class="md-display-1 docs-output">Let’s create the most effective All in One Selling & Marketing tool on the web</h5>
      
      <h5 aria-describedby="headings-output" class="md-title docs-output">Before we begin, lets remind you of the 3 components of a PackAd</h5>
     
     <h5 aria-describedby="headings-output" class="md-title docs-output">Got It? Let’s Proceed</h5> 
     <md-button class="md-primary md-hue-1">Begun</md-button>
    </div>

  </fieldset>
</div>