<div class="form-group text-center">
  <div class="hide">
    <label>Age</label>
    <input type="number" class="form-control" name="age" ng-model="vm.user.age" required />
  </div>

   <fieldset>
    <div class="form-group text-center">
      <h2 class="primary-text-color">Add a title to this item</h2>
      <br>
      
      <h4 class="secondary-text-color">This title will appear on the PackAd and also helpful for consumers to find your PackAd during a search</h4>
      <h5 class="secondary-text-color">Only what fits this box will be displayed on PackAd with rest viewable by clicking more</h5>
      <div class="col-md-3"></div><div class="col-md-6"><input type="text" class="form-control input-lg" placeholder="Ex. Sony Aquos 50 LCDTV"></div>
      <br><br>

    </div>
  </fieldset>
</div>