<div class="form-group text-center">
  <div class="hide">
    <label>Email</label>
    <input type="email" class="form-control" name="email" ng-model="vm.user.email" required />
  </div>
  <fieldset>
		<div class="form-group text-center">
		  <h2 class="primary-text-color">Before we begin, please confirm the commercial group the PackAd will be posted</h2>
		  <br>
		  <h4 class="secondary-text-color">This is the group from the activity box you launched the PackAd creation process from</h4>
		  <button class="btn btn-primary">Retail Shopping - Clothing (Women)</button>
		  <br><br>
		  
		  <h4 class="secondary-text-color">To change the group please <a href="#">click here</a>... note changing group will disconnect you from the current group.</h4>
		</div>
	</fieldset>

</div>