<div ng-controller="AlertController as alertController">
  <div ng-repeat="alert in alertController.alerts">
    <div class="alert alert-danger" ng-hide='hc.userEmailConfirmed'>
      <strong>!! </strong> {{alert.message}}
    </div>
  </div>
</div>
