<div class="thumbnail cnsmr-block" ng-class="{'disabled-elements': !{{groupboxDetails.isActive}}}">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Group</span>
    <label class="ellipsis" title="{{groupboxDetails.groupBoxCategory}}">{{groupboxDetails.groupBoxCategory}}</label>
  </div>
  <div class="caption">
    <p></p>
    <div class="row">
      <div class="col-md-12 text-center box-min-height">
        <div class="text-center">
       <img ng-show="groupboxDetails.groupBoxText === 'Disconnect'" ng-src="{{groupboxDetails.categoryImageUrl}}" alt="{{groupboxDetails.groupBoxCategory}}" data-toggle="tooltip" data-placement="right" title="{{groupboxDetails.groupBoxCategory}} - {{groupboxDetails.groupBoxSubCategory}}">
        </div>
        <!-- <a href="#" class="btn btn-success btn-product" data-toggle="modal" data-box-number="{{groupboxDetails.boxNumber}}" data-target="#businessCategoryModal" ng-show="groupboxDetails.groupBoxText === 'Connect'"><i class="icon-globe"></i> {{groupboxDetails.groupBoxText}}</a>
        <a href="#" class="btn btn-danger btn-product" data-toggle="modal" ng-show="groupboxDetails.groupBoxText === 'Disconnect'" ng-click="Disconnect()"><i class="icon-globe"></i> {{groupboxDetails.groupBoxText}}</a> -->
        <p class="blue-bg">Connect with friends &#38; Share Commercially</p>
        <a href="#">Send Connection Invite</a>
      </div>
    </div>
  </div>
  <div class="product-action">
    <a href="javascript:void()" class="col-md-4 text-center">
      <i class="icon-stackexchange"></i>
      <br>Post
    </a>
    <a href="javascript:void()" ng-click="createAd()" class="col-md-4 text-center">
      <i class="icon-server"></i>
      <br><small>0</small> today
    </a>
    <a href="javascript:void()" class="col-md-4 text-center">
      <i class="icon-newspaper"></i>
      <br><small>0</small> Last Hr
    </a>
    <div class="clearfix"></div>
  </div>
</div>
